<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        .footer {
            background-color: #101010;
            padding: 3px;
            margin-bottom: 20px;
            text-align: left;
            width: 50%;
            margin-top: 150px;
            border-radius: 20px 0px 0px 20px;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
        .footer p {
            margin-right: 60px;
            font-size: 20px;
        }
        .footer i {
            font-size: 40px;
            text-align: center;
            color: #fff;
            transition: color 0.3s; 
        }
        .footer a {
            text-decoration: none;
            color: #fff;
        }
        #github:hover i { 
            color: #404040;
        }
        #discord:hover i { 
            color: #006afe;
        }
        #github, #discord {
            border: none;
            width: 5%;
            border-radius: 0;
        }
        #discord {
            border-radius: 0px 20px 20px 0px;
        }
    </style>
</head>
<body>
    <center>
        <div style="display: flex; justify-content: center;">
            <footer class="footer">
                <p>&copy; 2024 Kitty Cat Unblocker.</p>
            </footer>
            <footer id="github" class="footer">
                <a title="View our repository." href="https://github.com/mecharis-420/Kitty-Cat-Club">
                    <i class="fab fa-github"></i>
                </a>
            </footer>
            <footer id="discord" class="footer"> 
                <a title="Join the discord!" href="https://discord.gg/rqBgxP9Gnj">
                    <i class="fab fa-discord"></i>
                </a>
            </footer>
        </div>
    </center>
</body>
</html>
