<link rel="stylesheet" href="/public/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<center>
    <div style="display: flex;">
        <footer class="footer"> ©2024 Kitty cat unblocker.</footer>
        <footer class="footer" id="github"><a title="View our repository."
                href="https://github.com/kitty-kat-klub/kitty-cat-unblocker"><i class="fa-brands fa-github"></i></a>
        </footer>
        <footer class="footer" id="discord"><a title="Join the Discord!" href="https://discord.gg/wUBUJrjuJQ"><i
                    class="fa-brands fa-discord"></i></a></footer>
    </div>
</center>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #FFF;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #FFF;
    }

    #github {
        width: 3%;
        font-size: 30px;
        transition: color 0.2s ease-in;
    }

    #discord {
        width: 3%;
        font-size: 30px;
        transition: color 0.2s ease-in;
    }

    #discord:hover {
        color: #0034ee;
    }

    .footer {
        color: #FFF;
        background-color: #101010;
        border-radius: 15px;
        padding: 1%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 23px;
    }
</style>

<!--get year function-->
