<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link rel="stylesheet" href="./css/navbar.css"/>
<script src="./js/clock.js"></script>

<center>
    <div id="container">
        <div class="align-left">
            <img src="./img/logo.png" alt="Logo">
            <h2><a href="/" id="esad">Kitty Cat Unblocker</a></h2>
        </div>
        <div class="align-right">
            <p id="timer"></p>
            <ul>
                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li>
                    <a href="/gxmes">
                        <i class="fa-solid fa-gamepad"></i>
                    </a>
                </li>
                <li>
                    <a href="/apps">
                        <i style="width: 15px;" class="fa-solid fa-border-all"></i>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <i style="width: 15px;" class="fa-solid fa-gear"></i>
                    </a>
                </li>
                <li>
                    <a href="/extra">
                        <i class="fa-solid fa-box"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</center>
