<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="./css/all.css">

    <style>
        .panel {
            background-color: #151515;
            width: auto;
            padding: 20px;
            height: auto;
            border: 2px solid #101010;
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <center>
        <div style="display: flex; justify-content: center;">
            <div class="panel">
                <div class="card">
                    <h1 style="font-size: 30px;">Proxy Settings</h1>
                    <p>Settings to modify the proxy.</p>
                    <br/>
                    <button>Hide navbar when hovered</button>
                    <button>Enable/disable Devtools</button><br/><br/>
                    <button>Show proxy URL</button>
                    <br/>
                    <p>(Want more settings? Tell it to us in the Discord!)</p>
                </div>
            </div>
        </div>
    </center>
</body>

</html>