<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/all.css"/>
    <title><%= title %></title>
</head>
<style>
    * {
        font-family: 'Poppins', sans-serif;
    }
    body {
        background-color: #1c1c1c;
    }
    .error_text{
      align-content: center;
      color: white;
    }
  
</style>
<body>
    <%- include("partials/navbar") %>
    <center>
    <div class = "error_text" style="margin-top: 10%;">
       <h1 style="font-size: 75px;"><%= title %></h1>
       <img src="./img/kitty/kitty1.gif" alt="balls :]" style="width: 10%;"><br/><br/>
        <p><%= error %> Here's a cat to cheer you up!</p>
    </div>
</center>
</body>
</html>