<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/all.css"/>
    <title><%= title %></title>
</head>
<script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
      location.replace("/");
    }
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-MZ5T2ZY0DZ');
</script>
<style>
    * {
        font-family: 'Poppins', sans-serif;
    }
    body {
        background-color: #1c1c1c;
    }
    .error_text{
      align-content: center;
      color: white;
    }
  
</style>
<body>
    <%- include("partials/navbar") %>
    <center>
    <div class = "error_text" style="margin-top: 10%;">
       <h1 style="font-size: 75px;"><%= title %></h1>
       <img src="./img/kitty/kitty1.gif" alt="balls :]" style="width: 10%;"><br/><br/>
        <p><%= error %> Here's a cat to cheer you up!</p>
    </div>
</center>
<script type='text/javascript' src='//banddisordergraceless.com/c4/4a/c4/c44ac4c7bdf482ac97d9545605fb3c5e.js'></script>
</body>
</html>
