<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Cat Club | BYOD</title>
  <link id="icon" rel="icon" type="image/x-icon" href="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="./css/all.css">
  <style>
    .terms {
      background-color: #151515;
      border: 2px solid #100000;
      border-radius: 12px;
      margin-top: 10%;
      width: 75%;
    }

    .terms p {
      margin-left: -30px;
    }
  </style>
</head>
<%- include("partials/navbar") -%>
  <script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
      location.href = "/";
    }
  </script>

  <body>
    <center style="margin-top: 5%;">
      <div class="terms">
        <h1 style="font-weight: bolder;">Make your own link! (BYOD)</h1>
        <p>
          1. Go to <a>https://freedns.afraid.org/</a> and scroll down and click on sign up for free or sign up. <br/><br/>
          2. When you click on the first and last name use <a href="https://www.behindthename.com/random/">https://www.behindthename.com/random/</a> for the name and click
          generate a name.
          <br/><br/>
          3. For the username, use a random name e.g. "Timothy Johnson" and change it to "TimothyJohnson43".
          <br/><br/>
          4. Put whatever you want for the password. (MAKE SURE YOU CAN REMEMBER IT)
          <br/><br/>
          5. For the email, you may create an outlook/hotmail account at <a href="https://outlook.com">https://outlook.com</a> (Or use a temp. email)
          <br/><br/>
          6. Once you have filled everything out that is needed, create your account.
          <br/><br/>
          7. Click on "Add a subdomain" and click on the domain list and click on "many many more available.”
          <br/><br/>
          8. After clicking "many many more available.”, Click on the shared domain registry.
          <br/><br/>
          9. Choose any domain you want, but make sure it is unblocked by your school filter.
          <br/><br/>
          10. Remove the current destination and replace the IP with "66.94.122.218".
          <br/><br/>
          11. Put whatever name you want for the subdomain, do the captcha, and then save.
          <br/><br/>
          12. Join our Discord Server, or email kittycatclub@yappers.lol with your link.
        </p>
      </div>
    </center>
    <script>
      localStorage.setItem("visited", true);
      let savedTitle = localStorage.getItem("tabName");
      let savedBG = localStorage.getItem("BG");
      let savedFavicon = localStorage.getItem("favicon");
      let favicon = document.getElementById("icon");
      let savedLink = localStorage.getItem("savedLink");
      let savedKey = localStorage.getItem("savedKey");

      if (savedTitle) {
        document.title = savedTitle;
      }
      if (savedFavicon) {
        favicon.href = savedFavicon;
      }

      if (savedBG) {
        document.body.style.backgroundImage = `url("${savedBG}")`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundSize = "cover";
      }

      function panic(event) {
        if (event.key === savedKey || event.key === savedKey) {
          if (savedLink.includes("https://")) {
            location.replace(savedLink);
          } else {
            location.replace("https://" + savedLink);
          }
        }
      }

      document.addEventListener("keydown", panic);
    </script>
  </body>

</html>