<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitty Cat Club | <%= title %></title>
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="./css/gxmes.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
</head>
<%- include("partials/navbar") %>
<body>
  <%- include("partials/footer") -%>
  <script src="./js/panickey.js"></script>
  <script>
    let savedTitle = localStorage.getItem("tabName");
    let savedBG = localStorage.getItem("BG");
    let savedFavicon = localStorage.getItem("favicon");
    let favicon = document.getElementById("icon");

    if (savedTitle) {
      document.title = savedTitle;
    }
    if (savedFavicon) {
      favicon.href = savedFavicon;
    }

    if (savedBG) {
      document.body.style.backgroundImage = `url("${savedBG}")`;
      document.body.style.backgroundRepeat = "no-repeat"
      document.body.style.backgroundSize = "cover";
    }

    document.addEventListener("keydown", handleKeyPress);
  </script>
</body>

</html>