<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/all.css" />
</head>
<body>
    
</body>
<script>
    let savedTitle = localStorage.getItem("tabName");
    let savedFavicon = localStorage.getItem("favicon");
    let favicon = document.getElementById("icon");
    if (savedTitle) {
      document.title = savedTitle;
    }
    if (savedFavicon) {
      favicon.href = savedFavicon;
    }
  </script>
</html>