<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Cat Club | <%= title %>
  </title>
  <link rel="stylesheet" href="./css/all.css" />
  <link rel="stylesheet" href="./css/gxmes.css" />
  <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
</head>
<%- include("partials/navbar") %>
  <script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
      location.replace("/");
    }
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ5T2ZY0DZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-MZ5T2ZY0DZ');
  </script>

  <body>
    <center>
      <br>
      <div style="align-content: center;" id="searchdiv">
        <form>
          <input placeholder="Search..." id="searchbar" style="margin-left: 5px; margin-right: 5px; width: 30em; border-radius: 5px; padding: 10px;" onkeyup="search()" />
        </form>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="margin-left: auto;">
          <script type="text/javascript">
            atOptions = {
              'key' : '3b0e26879afd5e3e7d6dd6d4d2565dff',
              'format' : 'iframe',
              'height' : 600,
              'width' : 160,
              'params' : {}
            };
          </script>
          <script type="text/javascript" src="//www.topcreativeformat.com/3b0e26879afd5e3e7d6dd6d4d2565dff/invoke.js"></script>
        </div>
        <div class="gxmes">
          <button class="card" onclick="openApp('https://shuttle.lol/apps/google-llc/1395/youtube.html')">
            <img src="./img/gxmes/youtube.png" />
            <br />
            <p class="title">Youtube</p>
          </button>
          <button class="card" onclick="openApp('https://discord.com/app')">
            <img src="./img/gxmes/discord.jpg" />
            <br />
            <p class="title">Discord</p>
          </button>
          <button class="card" onclick="openApp('https://tiktok.com')">
            <img src="./img/gxmes/Tiktok.png" />
            <br />
            <p class="title">Tiktok</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://discord.gg/qZsSATqjFg')">
            <img src="./img/gxmes/movieweb.png" />
            <br />
            <p class="title">Movie River [DISCORD]</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://ai.kitty.boats')">
            <img src="./img/gxmes/movieweb.png" />
            <br />
            <p class="title">River AI</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://www.github.com')">
            <img src="./img/gxmes/github.jpg" />
            <br />
            <p class="title">Github</p>
          </button>
          <button class="card" onclick="openApp('https://poki.com')">
            <img src="./img/gxmes/poki.png" />
            <br />
            <p class="title">Poki</p>
          </button>
          <button class="card" onclick="openApp('https://www.crazygames.com/')">
            <img src="./img/gxmes/crazygames.png" />
            <br />
            <p class="title">Crazygames</p>
          </button>
          <button class="card" onclick="openApp('https://twitter.com/home')">
            <img src="./img/gxmes/twitter.png" />
            <br />
            <p class="title">Twitter</p>
          </button>
          <button class="card" onclick="openApp('https://netflix.com')">
            <img src="./img/gxmes/netflix.png" />
            <br />
            <p class="title">Netflix</p>
          </button>
          <button class="card" onclick="openApp('https://play.geforcenow.com/mall/#/loginwall')">
            <img src="./img/gxmes/gfnow.png" />
            <br />
            <p class="title">GeForce NOW</p>
          </button>
          <button class="card" onclick="openApp('https://vscode.dev')">
            <img src="./img/gxmes/vsc.png" />
            <br />
            <p class="title">Visual Studio Code</p>
          </button>
          <button class="card" onclick="openApp('https://shuttle.lol/apps/aptoide/5874/aptoide.html')">
            <img src="./img/gxmes/aptoide.png" />
            <br />
            <p class="title">Aptoide</p>
          </button>
          <button class="card" onclick="openApp('https://shuttle.lol/apps/instagram/1228/instagram.html')">
            <img src="./img/gxmes/insta.png" />
            <br />
            <p class="title">Instagram</p>
          </button>
          <button class="card" onclick="openApp('https://www.coolmathgames.com/')">
            <img src="./img/gxmes/cmg.png" />
            <br />
            <p class="title">Cool math games</p>
          </button>
          <button class="card" onclick="openApp('https://shuttle.lol')">
            <img src="./img/gxmes/shuttle.png" />
            <br />
            <p class="title">Shuttle.lol</p>
          </button>
        </div>
        <div style="margin-right: auto;">
          <script type="text/javascript">
            atOptions = {
              'key' : '3b0e26879afd5e3e7d6dd6d4d2565dff',
              'format' : 'iframe',
              'height' : 600,
              'width' : 160,
              'params' : {}
            };
          </script>
          <script type="text/javascript" src="//www.topcreativeformat.com/3b0e26879afd5e3e7d6dd6d4d2565dff/invoke.js"></script>
        </div>
      </div>
    </center>
    <%- include("partials/footer") -%>
      <script src="./uv/uv.bundle.js"></script>
      <script src="./uv/uv.config.js"></script>
      <script src="./js/index.js"></script>
      <script>
                let savedTitle = localStorage.getItem("tabName");
                let savedBG = localStorage.getItem("BG");
                let savedFavicon = localStorage.getItem("favicon");
                let favicon = document.getElementById("icon");
                if (savedTitle) {
                    document.title = savedTitle;
                }
                if (savedFavicon) {
                    favicon.href = savedFavicon;
                }

                if (savedBG) {
                    document.body.style.backgroundImage = `url("${savedBG}")`;
                    document.body.style.backgroundRepeat = "no-repeat"
                    document.body.style.backgroundSize = "cover";
                    document.body.style.backgroundAttachment = "fixed";
                    document.body.style.backgroundSize = "100% 100%";
                }
                if (localStorage.getItem("advCloak") == 1) {
                    if (window === window.top) {
                        let popup = window.open('about:blank', '_blank');
                        let doc = popup.document;
                        let aboutiframe = doc.createElement('iframe');
                        let faviconabout = doc.createElement('link');
                        doc.title = name;
                        faviconabout.rel = 'icon';
                        faviconabout.href = icon;
                        aboutiframe.src = location.href;
                        aboutiframe.style.position = 'fixed';
                        aboutiframe.style.top = 0;
                        aboutiframe.style.bottom = 0;
                        aboutiframe.style.left = 0;
                        aboutiframe.style.right = 0;
                        aboutiframe.style.border = 'none';
                        aboutiframe.style.width = "100%";
                        aboutiframe.style.height = '100%';
                        doc.head.appendChild(faviconabout);
                        doc.body.appendChild(aboutiframe);
                        location.replace('https://classroom.google.com/');
                    }
                }

                window.onbeforeunload = () => {
                    if (tabclosingval == "true") {
                        return "Do you want to leave the current tab?";
                    }
                }
      </script>
      <script>
        function search() {
          var input, list, btn, p, i;
          input = document.getElementById("searchbar").value.toUpperCase();
          list = document.querySelector(".gxmes");
          btn = list.getElementsByTagName("button");

          for (i = 0; i < btn.length; i++) {
            p = btn[i].getElementsByTagName("p")[0];
            if (p.innerHTML.toUpperCase().indexOf(input) > -1) {
              btn[i].style.display = "";
            } else {
              btn[i].style.display = "none";
            }
          }
        }
      </script>
      <script src="./js/mobile.js"></script>
      
  </body>

</html>