<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Cat Club | <%= title %>
  </title>
  <link rel="stylesheet" href="./css/all.css" />
  <link rel="stylesheet" href="./css/gxmes.css" />
  <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
</head>
<%- include("partials/navbar") %>
<script>
  let visited = localStorage.getItem("visited");
  if (visited === "" || visited === null || !visited) {
    alert("Before using our website, please read our Terms of Service. (Located in our extra page!)");
  }
</script>
  <body>
    <center>
      <br>
      <div style="align-content: center;" id="searchdiv">
        <form>
          <input placeholder="Search..." id="searchbar" style="width: 500px; height: 30px;" onkeyup="search()" />
        </form>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="margin-left: auto;">
          <script type="text/javascript">
            atOptions = {
              'key': '92e37525b44e4820b9da8c1d40df81ad',
              'format': 'iframe',
              'height': 600,
              'width': 160,
              'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/92e37525b44e4820b9da8c1d40df81ad/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
        <div class="apps" style="width: 75%;">
          <button class="card resizable-card" onclick="openApp('https://youtube.com')">
            <img src="./img/gxmes/youtube.png" />
            <br />
            <p>Youtube</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://discord.com/app')">
            <img src="./img/gxmes/discord.jpg" />
            <br />
            <p>Discord</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://tiktok.com')">
            <img src="./img/gxmes/Tiktok.png" />
            <br />
            <p>Tiktok</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://anura.pro/')">
            <img src="./img/gxmes/AnuraOS.png" />
            <br />
            <p>AnuraOS</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://www.github.com')">
            <img src="./img/gxmes/github.jpg" />
            <br />
            <p>Github</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://poki.com')">
            <img src="./img/gxmes/poki.png" />
            <br />
            <p>Poki</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://www.crazygames.com/')">
            <img src="./img/gxmes/crazygames.png" />
            <br />
            <p>Crazygames</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://twitter.com/home')">
            <img src="./img/gxmes/twitter.png" />
            <br />
            <p>Twitter</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://vscode.dev')">
            <img src="./img/gxmes/vsc.png" />
            <br />
            <p>Visual Studio Code</p>
          </button>
          <button class="card resizable-card" onclick="openApp('https://https://now.gg/iframe/snippet?app_pkg=com.aptoide.partners.nowgg.store&partner=interstellar')"> <!---I bare-->
            <img src="./img/gxmes/Aptoide.png" />
            <br />
            <p>Aptoide</p>
          </button>
          <!--if you see this, you like balls-->
        </div>
        <div style="margin-right: auto;">
          <script type="text/javascript">
            atOptions = {
              'key': '92e37525b44e4820b9da8c1d40df81ad',
              'format': 'iframe',
              'height': 600,
              'width': 160,
              'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/92e37525b44e4820b9da8c1d40df81ad/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
      </div>
    </center>
    <%- include("partials/footer") -%>
      <script src="./uv/uv.bundle.js"></script>
      <script src="./uv/uv.config.js"></script>
      <script src="./js/index.js"></script>
      <script>
        let savedTitle = localStorage.getItem("tabName");
        let savedBG = localStorage.getItem("BG");
        let savedFavicon = localStorage.getItem("favicon");
        let favicon = document.getElementById("icon");
        let savedLink = localStorage.getItem("savedLink");
        let savedKey = localStorage.getItem("savedKey");

        if (savedTitle) {
          document.title = savedTitle;
        }
        if (savedFavicon) {
          favicon.href = savedFavicon;
        }

        if (savedBG) {
          document.body.style.backgroundImage = `url("${savedBG}")`;
          document.body.style.backgroundRepeat = "no-repeat"
          document.body.style.backgroundSize = "cover";
        }

        function handleKeyPress(event) {
          if (event.key === savedKey || event.key === savedKey) {
            if (savedLink.includes("https://")) {
              window.location.href = savededulink;
            } else {
              window.location.href = "https://" + savedLink;
            }
          }
        }

        document.addEventListener("keydown", handleKeyPress);
      </script>
      <script>
        function search() {
          var input, list, btn, p, i;
          input = document.getElementById("searchbar").value.toUpperCase();
          list = document.querySelector(".apps");
          btn = list.getElementsByTagName("button");

          for (i = 0; i < btn.length; i++) {
            p = btn[i].getElementsByTagName("p")[0];
            if (p.innerHTML.toUpperCase().indexOf(input) > -1) {
              btn[i].style.display = "";
            } else {
              btn[i].style.display = "none";
            }
          }
        }
      </script>
      <script src="./js/mobile.js"></script>
  </body>

</html>
