<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitty Cat Club | <%= title %>
    </title>
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <style>
        .extra {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 5%;
        }

        .panel {
            background-color: rgb(26, 26, 26, 0.75);
            border: 2px solid #1b1b1b;
            width: auto;
            padding: 20px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
        }
        button {
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .project-cards {
            background-color: rgb(30, 30, 30);
            width: 25%;
            padding: 20px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            transition: 0.3s;
        }

        .card {
            background-color: rgb(30, 30, 30);
            width: 10em;
            padding: 20px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            transition: 0.3s;
            font-size: 90%;
        }

        .card:hover {
            transform: scale(0.9);
            background-color: rgb(37, 37, 37);
            cursor: pointer;
        }

        .project-cards:hover {
            transform: scale(0.9);
            background-color: #252525;
            cursor: pointer;
        }

        .card p {
            font-size: 1em;
        }
    </style>
</head>
<script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
        location.replace("/");
    }
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-MZ5T2ZY0DZ');
</script>
<body>
    <%- include("partials/navbar") %>
        <center>
            <div class="extra">
                <div class="panel" style="width: 80%;">
                    <h1>Partners</h1>
                    <div style="display: flex; justify-content: center; width: 100%; flex-wrap: wrap;">
                        <div class="card" onclick="window.open('https://snorlaxscave.site').focus()">
                            <img src="./img/partners/snorlax.png" style="width: 90%; border-radius: 10px;" />
                            <p>Snorlax's Cave</p>
                        </div>
                        <div class="card" onclick="window.open('https://goshadow.net/').focus()">
                            <img src="./img/partners/shadow.png" style="width: 90%; border-radius: 10px;" />
                            <p>Shadow Tabbed</p>
                        </div>
                        <div class="card"
                            onclick="window.open('https://sites.google.com/view/lunargamehubsite/').focus()">
                            <img src="./img/partners/LunarGameHub.png" style="width: 90%; border-radius: 10px;" />
                            <p>Lunar Game Hub</p>
                        </div>
                        <div class="card" onclick="window.open('https://sites.google.com/view/ubg2127/').focus()">
                            <img src="./img/partners/gamezonex.png" style="width: 90%; border-radius: 10px;" />
                            <p>GameZoneX</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.gg/xivi').focus()">
                            <img src="./img/partners/xivi.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Xivi</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.com/invite/cjYPKrqwsx').focus()">
                            <img src="./img/partners/crumbler.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Crumbler</p>
                        </div>
                        <div class="card" onclick="window.open('https://lunarsync.smartfoloo.space').focus()">
                            <img src="./img/partners/platformer.png" style="width: 90%; border-radius: 10px;" />
                            <p>Lunarsync</p>
                        </div>
                        <div class="card" onclick="window.open('https://tlochsta.media').focus()">
                            <img src="./img/partners/tm.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Tlochsta Media</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.gg/5Rm5NFnk5r').focus()">
                            <img src="./img/partners/kron.webp" style="width: 90%; border-radius: 10px;" />
                            <p>KRON</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.gg/QRGaMQgK95').focus()">
                            <img src="./img/partners/sn.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Sunset Network</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.gg/DHtCqX3vGx').focus()">
                            <img src="./img/partners/nugget.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Nugget</p>
                        </div>
                        <div class="card" onclick="window.open('https://pb.wavedemure.com/').focus()">
                            <img src="./img/partners/pb.webp" style="width: 90%; border-radius: 10px;" />
                            <p>PB | Network</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.gg/DAj93Vuv2x').focus()">
                            <img src="./img/partners/clover.jpg" style="width: 90%; border-radius: 10px;" />
                            <p>CloverUnblocks</p>
                        </div>
                        <div class="card" onclick="window.open('https://quack.cool/').focus()">
                            <img src="./img/partners/Quack.webp" style="width: 90%; border-radius: 10px;" />
                            <p>quack!</p>
                        </div>
             <div class="card" onclick="window.open('https://hw.billigerhost.com/games').focus()">
                            <img src="./img/partners/hwhelp.gif" style="width: 90%; border-radius: 10px;" />
                            <p>hwhelp.cc</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <h1>Credits</h1>
                    <p><strong>@tlochsta</strong> - Founder of KCC. (VPS provider)</p>
                    <p><strong>@xineese</strong> - Co-Founder & Developer</p>
                    <p><strong>@a1rg3mm</strong> - Basically making the entire website</p>
                    <p><strong>@.xordas</strong> - Some UI stuff and mental support</p>
                    <p><strong>@questionedlife</strong> - Developer, making Links and Link Bot</p>
                </div>
                <div class="panel">
                    <h1>Resources</h1>
                    <p>Some resources or other stuff you can view or use.</p><br />
                    <button onclick="location.replace('/tos')">
                        Terms of Service
                    </button>
                    <button onclick="location.replace('/byod')">
                        Make your own link
                    </button><br/>
                    <button
                    onclick="alert('Please email us your bug to kittycatclub@yappers.lol')">Report
                    a bug</button>
                    <br />
                </div>
            </div>
        </center>
        <%- include("partials/footer") %>
            <script>
                let savedTitle = localStorage.getItem("tabName");
                let savedBG = localStorage.getItem("BG");
                let savedFavicon = localStorage.getItem("favicon");
                let favicon = document.getElementById("icon");
                if (savedTitle) {
                    document.title = savedTitle;
                }
                if (savedFavicon) {
                    favicon.href = savedFavicon;
                }

                if (savedBG) {
                    document.body.style.backgroundImage = `url("${savedBG}")`;
                    document.body.style.backgroundRepeat = "no-repeat"
                    document.body.style.backgroundSize = "cover";
                    document.body.style.backgroundAttachment = "fixed";
                    document.body.style.backgroundSize = "100% 100%";
                }
                if (localStorage.getItem("advCloak") == 1) {
                    if (window === window.top) {
                        let popup = window.open('about:blank', '_blank');
                        let doc = popup.document;
                        let aboutiframe = doc.createElement('iframe');
                        let faviconabout = doc.createElement('link');
                        doc.title = name;
                        faviconabout.rel = 'icon';
                        faviconabout.href = icon;
                        aboutiframe.src = location.href;
                        aboutiframe.style.position = 'fixed';
                        aboutiframe.style.top = 0;
                        aboutiframe.style.bottom = 0;
                        aboutiframe.style.left = 0;
                        aboutiframe.style.right = 0;
                        aboutiframe.style.border = 'none';
                        aboutiframe.style.width = "100%";
                        aboutiframe.style.height = '100%';
                        doc.head.appendChild(faviconabout);
                        doc.body.appendChild(aboutiframe);
                        location.replace('https://classroom.google.com/');
                    }
                }

                window.onbeforeunload = () => {
                    if (tabclosingval == "true") {
                        return "Do you want to leave the current tab?";
                    }
                }
                
            </script>
            <script type='text/javascript' src='//banddisordergraceless.com/c4/4a/c4/c44ac4c7bdf482ac97d9545605fb3c5e.js'></script>
</body>

</html>
