<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitty Cat Club | <%= title %>
    </title>
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <style>
        .extra {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 5%;
        }

        .panel {
            background-color: rgb(26, 26, 26, 0.75);
            border: 2px solid #1b1b1b;
            width: auto;
            padding: 20px;
            height: auto;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
        }

        .project-cards {
            background-color: rgb(30, 30, 30);
            width: 25%;
            padding: 20px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            transition: 0.3s;
        }

        .card {
            background-color: rgb(30, 30, 30);
            width: 10%;
            padding: 20px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            transition: 0.3s;
        }

        .card:hover {
            transform: scale(0.9);
            background-color: rgb(37, 37, 37);
        }

        .project-cards:hover {
            transform: scale(0.9);
            background-color: #252525;
        }
    </style>
</head>

<body>
    <%- include("partials/navbar") %>
        <center>
            <div class="extra">
                <div class="panel" style="width: 80%;">
                    <h1>Partners</h1>
                    <div style="display: flex; justify-content: center; width: 100%; flex-wrap: wrap;">
                        <div class="card" onclick="window.open('https://snorlaxscave.site').focus()">
                            <img src="./img/partners/snorlax.png" style="width: 90%; border-radius: 10px;" />
                            <p style="font-size: 1em;">Snorlax's Cave</p>
                        </div>
                        <div class="card" onclick="window.open('https://goshadow.net/').focus()">
                            <img src="./img/partners/shadow.png" style="width: 90%; border-radius: 10px;" />
                            <p>Shadow Tabbed</p>
                        </div>
                        <div class="card"
                            onclick="window.open('https://sites.google.com/view/lunargamehubsite/').focus()">
                            <img src="./img/partners/LunarGameHub.png" style="width: 90%; border-radius: 10px;" />
                            <p>Lunar Game Hub</p>
                        </div>
                        <div class="card" onclick="window.open('https://sites.google.com/view/ubg2127/').focus()">
                            <img src="./img/partners/gamezonex.png" style="width: 90%; border-radius: 10px;" />
                            <p>GameZoneX</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.gg/xivi').focus()">
                            <img src="./img/partners/xivi.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Xivi</p>
                        </div>
                        <div class="card" onclick="window.open('https://discord.com/invite/cjYPKrqwsx').focus()">
                            <img src="./img/partners/crumbler.webp" style="width: 90%; border-radius: 10px;" />
                            <p>Crumbler</p>
                        </div>
                        <div class="card" onclick="window.open('https://platformerdotio.co').focus()">
                            <img src="./img/partners/platformer.png" style="width: 90%; border-radius: 10px;" />
                            <p>Platformer.io</p>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <h1>Credits</h1>
                    <p><strong>@tlochsta</strong> - Founder of KCC.</p>
                    <p><strong>@xineese</strong> - Co-Founder/Working on proxy.</p>
                    <p><strong>@a1rg3mm</strong> - Frontend of Website.</p>
                    <p><strong>@.xordas</strong> - Mental support & editing line 128 of extra.ejs and line one in apps.ejs</p>
                    <p><strong>@questioningliferightnow</strong> - Link bot, fixing VPS, and making links.</p>
                </div>
                <div class="panel">
                    <h1>Resources</h1>
                    <p>Resources, or other stuff to use. (Some optional, some required.)</p><br/>
                    <button onclick="window.location.href = '/tos'">
                        Terms of Service
                    </button><br/>
                </div>
            </div>
        </center>
        <%- include("partials/footer") %>
            <script>
                let savedTitle = localStorage.getItem("tabName");
                let savedBG = localStorage.getItem("BG");
                let savedFavicon = localStorage.getItem("favicon");
                let favicon = document.getElementById("icon");
                let savedLink = localStorage.getItem("savedLink");
                let savedKey = localStorage.getItem("savedKey");

                if (savedTitle) {
                    document.title = savedTitle;
                }
                if (savedFavicon) {
                    favicon.href = savedFavicon;
                }

                if (savedBG) {
                    document.body.style.backgroundImage = `url("${savedBG}")`;
                    document.body.style.backgroundRepeat = "no-repeat"
                    document.body.style.backgroundSize = "cover";
                }

                function handleKeyPress(event) {
                    if (event.key === savedKey || event.key === savedKey) {
                        if (savedLink.includes("https://")) {
                            window.location.href = savededulink;
                        } else {
                            window.location.href = "https://" + savedLink;
                        }
                    }
                }

                document.addEventListener("keydown", handleKeyPress);
            </script>
</body>

</html>