<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Cat Club | <%= title %>
  </title>
  <link rel="stylesheet" href="./css/gxmes.css">
  <link rel="stylesheet" href="./css/all.css" />

</head>

<%- include("partials/navbar") %>
<body>
    <center>
      <br>
      <div style="align-content: center;">
        <form>
          <input placeholder="Search..." id="searchbar" style="margin-bottom: 100%; width: 500px; height: 30px;"/>
        </form>
      </div>
      <div class="gxmes">
          <a href="">
            <button>
              <img src="./img/1v1lol.png"/>
              <br/>
              <p>1v1.lol</p>  
            </button>
          </a>
      </div>
    </center>
    <script>
      let savedTitle = localStorage.getItem("tabName");
      let savedFavicon = localStorage.getItem("favicon");
      let favicon = document.getElementById("icon");
      if (savedTitle) {  
        document.title = savedTitle;
      }
      if (savedFavicon) {
        favicon.href = savedFavicon;
      }
    </script>
    <script src="./js/mobile.js"></script>
</body>

</html>