<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitty Cat Club | <%= title %>
  </title>
  <link rel="stylesheet" href="./css/gxmes.css">
  <link rel="stylesheet" href="./css/all.css" />
  <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
</head>

<%- include("partials/navbar") %>

  <body>
    <center>
      <br>
      <div style="align-content: center;" id="searchdiv">
        <form>
          <input placeholder="Search..." id="searchbar" style="width: 500px; height: 30px;" />
        </form>
      </div>
      <div class="gxmes">
        <a href="">
          <div class="card resizable-card">
            <img src="./img/gxmes/1v1lol.png" />
            <br />
            <p>1v1.lol</p>
          </div>
        </a>
        <a href="">
          <div class="card resizable-card">
            <img src="./img/gxmes/cookieclicker.png" />
            <br />
            <p>Cookie clicker</p>
          </div>
        </a>
        <a href="">
          <div class="card resizable-card">
            <img src="./img/gxmes/roblox.webp" />
            <br />
            <p>Roblox</p>
          </div>
        </a>
        <a href="">
          <div class="card resizable-card">
            <img src="./img/gxmes/bitlife.jpg" />
            <br />
            <p>Bitlife</p>
          </div>
        </a>
        <a href="">
          <div class="card resizable-card">
            <img src="./img/gxmes/fnaf.png" />
            <br />
            <p>FNAF</p> 
          </div>
        </a>
      </div>
      <div class="gxmes">
        <a href="">
          <div class="card resize-card">
            <img src="./img/gxmes/motox3m.avif" />
            <br />
            <p>Moto X3M</p>
          </div>
        </a>
        <a href="">
          <div class="card resize-card">
            <img src="./img/gxmes/whg.png" />
            <br />
            <p>Worlds Hardest game</p>
          </div>
        </a>
        <a href="">
          <div class="card resize-card">
            <img src="./img/gxmes/rooftop_snipers.avif" />
            <br />
            <p>Rooftop Snipers</p>
          </div>
        </a>
        <a href="">
          <div class="card resize-card">
            <img src="./img/gxmes/bloontd4.jpg" />
            <br />
            <p>Bloons TD 4</p>
          </div>
        </a>
        <a href="">
          <div class="card resize-card">
            <img src="./img/gxmes/ss.webp" />
            <br />
            <p>Subway Surfers</p>
          </div>
        </a>
      </div>
      <div class="gxmes">
        <a href="">
          <div class="card resize-card">
            <img src="./img/gxmes/retrobowl.webp" />
            <br />
            <p>Retro Bowl</p>
          </div>
        </a>
      </div>
    </center>
    <%- include("partials/footer") -%>
    <script>
      let savedTitle = localStorage.getItem("tabName");
      let savedBG = localStorage.getItem("BG");
      let savedFavicon = localStorage.getItem("favicon");
      let favicon = document.getElementById("icon");
      let savedLink = localStorage.getItem("savedLink");
      let savedKey = localStorage.getItem("savedKey");

      if (savedTitle) {
        document.title = savedTitle;
      }
      if (savedFavicon) {
        favicon.href = savedFavicon;
      }

      if (savedBG) {
        document.body.style.backgroundImage = `url("${savedBG}")`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundSize = "cover";
      }

      function handleKeyPress(event) {
        if (event.key === savedKey || event.key === savedKey) {
          if (savedLink.includes("https://")) {
            window.location.href = savededulink;
          } else {
            window.location.href = "https://" + savedLink;
          }
        }
      }

      document.addEventListener("keydown", handleKeyPress);
    </script>
    <script src="./js/mobile.js"></script>
  </body>

</html>