<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kitty Cat Club | <%= title %>
  </title>
  <link rel="stylesheet" href="./css/navbar.css" />
  <link rel="stylesheet" href="./css/footer.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

  <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
  <%- include("partials/navbar") %>
</head>
<script>
  let visited = localStorage.getItem("visited");
  if (visited === "" || visited === null || !visited) {
    alert("Before using our website, please read our Terms of Service. (Located in our extra page!)");
  }
</script>

<body>
  <div>
    <center class="center" style="margin-top: 3%;"><br /><br /><br />
      <div
        style="display: flex; justify-content: center; background-color: rgb(28, 28, 28, 0.75); padding: 20px; width: 70%; border: 2px solid #1c1c1c; border-radius: 12px;">
        <div style="margin-left: auto;">
          <script type="text/javascript">
            atOptions = {
              'key' : 'aa249c8fbb3f9d7f78f0b6fd4886c613',
              'format' : 'iframe',
              'height' : 600,
              'width' : 160,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/aa249c8fbb3f9d7f78f0b6fd4886c613/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
        <div class="content" style="width: 100%;">
          <h1>Kitty Cat Unblocker</h1>
          <img src="./img/logo.png" style="width: 15%;" /><br /><br />
          <form style="width: 100%; display: flex; justify-content: center;">
            <input type="text" id="searchbar" placeholder="Search the web freely..." />
            <button id="searchbtn" style="margin-left: 5px;">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <br />
          <div style="display: flex; justify-content: center; width: 100%;">
            <button
              onclick="openApp('https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiI2NaovLOEAxXDnGoFHXvUDqEQFnoECAkQAQ&url=https%3A%2F%2Fwww.google.com%2F&usg=AOvVaw1xDfJh-YduXzT4-Mrql0P3&opi=89978449')"
              class="browserbtn">
              <img src="./img/google.png" style="width: 32px;" />
            </button>
            <button onclick="openApp('https://www.bing.com')" class="browserbtn" style="margin-left: 10px;">
              <img src="./img/bing.jpg" style="width: 32px; border-radius: 5px;" />
            </button>
            <button onclick="openApp('https://www.yahoo.com')" class="browserbtn" style="margin-left: 10px;">
              <img src="./img/yahoo.png" style="width: 32px; border-radius: 5px;" />
            </button>
            <button onclick="openApp('https://start.duckduckgo.com/')" class="browserbtn" style="margin-left: 10px;">
              <img src="./img/duckduckgo.png" style="width: 32px; border-radius: 5px;" />
            </button>
          </div>
        </div>
        <div style="margin-right: auto;">
          <script type="text/javascript">
            atOptions = {
              'key' : 'aa249c8fbb3f9d7f78f0b6fd4886c613',
              'format' : 'iframe',
              'height' : 600,
              'width' : 160,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/aa249c8fbb3f9d7f78f0b6fd4886c613/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
      </div>
      <%- include("partials/footer") -%>
    </center>
  </div>
  <style>
    .joinbutton {
      margin-top: 10px;
      width: 150px;
      padding: 2px;
      border-radius: 15px;
      background-color: #202020;
      border: 2px solid #101010;
      border-radius: 25px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: 0.2s;
    }

    .joinbutton:hover {
      background-color: rgb(15, 115, 255);
      color: #fff;
    }
  </style>
  <script src="./uv/uv.bundle.js"></script>
  <script src="./uv/uv.config.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/mobile.js"></script>
  <script>
    let savedTitle = localStorage.getItem("tabName");
    let savedBG = localStorage.getItem("BG");
    let savedFavicon = localStorage.getItem("favicon");
    let favicon = document.getElementById("icon");
    let savedLink = localStorage.getItem("savedLink");
    let savedKey = localStorage.getItem("savedKey");

    if (savedTitle) {
      document.title = savedTitle;
    }
    if (savedFavicon) {
      favicon.href = savedFavicon;
    }

    if (savedBG) {
      document.body.style.backgroundImage = `url("${savedBG}")`;
      document.body.style.backgroundRepeat = "no-repeat"
      document.body.style.backgroundSize = "cover";
    }

    function handleKeyPress(event) {
      if (event.key === savedKey || event.key === savedKey) {
        if (savedLink.includes("https://")) {
          window.location.href = savededulink;
        } else {
          window.location.href = "https://" + savedLink;
        }
      }
    }

    document.addEventListener("keydown", handleKeyPress);
  </script>
</body>

</html>