<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kitty Cat Club | <%= title %></title>
  <link rel="stylesheet" href="./css/navbar.css" />
  <link rel="stylesheet" href="./css/footer.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

  <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
  <!--DROPDOWN CSS-->

</head>
<body>
  <div>
    <center class="center">
      <%- include("partials/navbar") %>
      <div class="content"><br/><br/><br/>
      <h1>Kitty Cat Unblocker</h1>
      <img src="./img/logo.png" /><br /><br />
      <form>
          <input type="text" id="searchbar" placeholder="Search the web freely..." />
          <button id="searchbtn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
      </form>
      <br/>
      <div style="display: flex; justify-content: center;">
        <button onclick="openApp('https://www.google.com')" class="browserbtn">
          <img src="./img/google.png" style="width: 32px;"/>
        </button>
        <button onclick="openApp('https://www.bing.com')" class="browserbtn" style="margin-left: 10px;">
          <img src="./img/bing.svg" style="width: 32px;"/>
        </button>
      </div>
      <div id="discord">
        <a href="https://discord.gg/TGpkh7W3Xy" target="_blank">
        <button class="joinbutton">
          <p>Join our Discord!</p>
        </button>
      </a>
      </div>
    </center>
  </div>
  </div>
  <style>
    .joinbutton {
      margin-top: 10px;
      width: 150px;
      padding: 2px;
      border-radius: 15px;
      background-color: #202020;
      border: 2px solid #101010;
      border-radius: 25px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: 0.2s;
    }

    .joinbutton:hover {
      background-color: rgb(0, 136, 255);
      color: #fff;
    }
    
  </style>
  <script src="./uv/uv.bundle.js"></script>
  <script src="./uv/uv.config.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/mobile.js"></script>
  <script>
    let savedTitle = localStorage.getItem("tabName");
    let savedBG = localStorage.getItem("BG");
    let savedFavicon = localStorage.getItem("favicon");
    let favicon = document.getElementById("icon");
    let savedLink = localStorage.getItem("savedLink");
    let savedKey = localStorage.getItem("savedKey");

    if (savedTitle) {
      document.title = savedTitle;
    }
    if (savedFavicon) {
      favicon.href = savedFavicon;
    }

    if (savedBG) {
      document.body.style.backgroundImage = `url("${savedBG}")`;
      document.body.style.backgroundRepeat = "no-repeat"
      document.body.style.backgroundSize = "cover";
    }

    function handleKeyPress(event) {
      if (event.key === savedKey || event.key === savedKey) {
        if (savedLink.includes("https://")) {
          window.location.href = savededulink;
        } else {
          window.location.href = "https://" + savedLink;
        }
      }
    }

    document.addEventListener("keydown", handleKeyPress);
  </script>
</body>

</html>
