<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kitty Cat Club | <%= title %>
  </title>
  <link rel="stylesheet" href="./css/all.css" />
  <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <style>
    .panel {
      width: 25em;
      padding: 20px;
      border: 2px solid #000;
      background-color: rgba(20, 20, 20, 0.612);
      border-radius: 10px;
      margin-top: 15%;
    }
  </style>
</head>
<script>
  const isLoggedIn = localStorage.getItem("loggedin");
  if (!isLoggedIn) {
    location.href = "/";
  }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ5T2ZY0DZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-MZ5T2ZY0DZ');
</script>
<body>
  <center>
    <div>
      <div class="panel">
        <h1>Loading site...</h1>
        <div>
          <img id="kitty" src="" alt="kitty!!!!" style="width: 10em; border-radius: 20px;">
        </div>
        <p id="text">
          If it dosen't load at all, please report it in our discord.
          <br />
        </p>
      </div>
    </div>
  </center>
  <script>
    let savedTitle = localStorage.getItem("tabName");
    let savedBG = localStorage.getItem("BG");
    let savedFavicon = localStorage.getItem("favicon");
    let favicon = document.getElementById("icon");
    if (savedTitle) {
        document.title = savedTitle;
    }
    if (savedFavicon) {
        favicon.href = savedFavicon;
    }

    if (savedBG) {
        document.body.style.backgroundImage = `url("${savedBG}")`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundSize = "cover";
        document.body.style.backgroundAttachment = "fixed";
        document.body.style.backgroundSize = "100% 100%";
    }
    if (localStorage.getItem("advCloak") == 1) {
      if (window === window.top) {
        let popup = window.open('about:blank', '_blank');
        let doc = popup.document;
        let aboutiframe = doc.createElement('iframe');
        let faviconabout = doc.createElement('link');
        doc.title = name;
        faviconabout.rel = 'icon';
        faviconabout.href = icon;
        aboutiframe.src = location.href;
        aboutiframe.style.position = 'fixed';
        aboutiframe.style.top = 0;
        aboutiframe.style.bottom = 0;
        aboutiframe.style.left = 0;
        aboutiframe.style.right = 0;
        aboutiframe.style.border = 'none';
        aboutiframe.style.width = "100%";
        aboutiframe.style.height = '100%';
        doc.head.appendChild(faviconabout);
        doc.body.appendChild(aboutiframe);
        location.replace('https://classroom.google.com/');
      }
    }

    window.onbeforeunload = () => {
        if (tabclosingval == "true") {
            return "Do you want to leave the current tab?";
        }
    }
  </script>
  <script>
    let kitty = document.getElementById("kitty");
    let newLoader = localStorage.getItem("loader");
    let Mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

    if (Mobile) {
      document.getElementById("text").style.display = "none";
    }

    let kitties = [
      "./img/kitty/kitty1.gif",
      "./img/kitty/kitty2.gif",
      "./img/kitty/kitty3.gif",
      "./img/kitty/kitty4.gif",
      "./img/kitty/kitty5.gif",
      "./img/kitty/kitty6.gif",
      "./img/kitty/kitty7.gif",
      "./img/kitty/kitty8.gif",
      "./img/kitty/kitty9.gif",
      "./img/kitty/kitty10.gif",
    ];


    let randomKitty = Math.floor(Math.random() * kitties.length);

    kitty.src = kitties[randomKitty];

    if (newLoader) {
      kitty.src = `${newLoader}`;
    } else {
      kitty.src = kitties[randomKitty];
    }

  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function delay(milliseconds) {
        return new Promise(resolve => {
          setTimeout(resolve, milliseconds);
        });
      }
      if (Mobile) {
        delay(250).then(() => {
          location.replace("/learningMB");
        });
      } else {
        delay(250).then(() => {
          location.replace("/learning");
        });
      }
    });

  </script>
  <script src="./js/index.js"></script>
  <script type='text/javascript' src='//banddisordergraceless.com/c4/4a/c4/c44ac4c7bdf482ac97d9545605fb3c5e.js'></script>
</body>

</html>
