<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kitty Cat Club | <%= title %></title>
  <link rel="stylesheet" href="./css/all.css" />
</head>
<body>
  <script>
    window.onload = function () {
          let encodedUrl = localStorage.getItem("encodedUrl");
          encodedUrl = "/class/" + encodedUrl;
          document.querySelector("#siteurl").src = encodedUrl;
        };
    </script>
    <script src="./js/index.js"></script>
    
</body>
</html>