<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kitty Cat Club | <%= title %></title>
  <link rel="stylesheet" href="./css/all.css" />
  <link rel="stylesheet" href="./css/mobile.css" />
</head>
<body>
    <script>
        let visited = localStorage.setItem("visited");
        if (!visited) {
        alert("This site cannot be used on mobile devices at this current stage.");
        localStorage.setItem("visited", true);
        }
    </script>
 <form>
  <!--big black fortnite balls im gay-->
    <center>
    <div style="margin-bottom: 50%;">
    <input type="text" placeholder="Search the web freely..." class="mobilesearch" style="margin-bottom: 100%; width: 500px; height: 30px;">
 </form>
 <p style="font-size: 15px; justify-content: center;">Mobile Edition!</p>
</div>
</center>
</body>
</html>


