<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitty Cat Club | <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

        * {
            font-family: "Poppins", sans-serif;
        }

        a {
            color: #656565;
            text-decoration: none;
        }

        img {
            width: 10%;
        }



        body {
            background-color: #1c1c1c;
            color: #fff;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }


        #searchbar {
            background-color: #404040;
            border: none;
            border-radius: 10px 0px 0px 10px;
            width: 50vw;
            text-align: center;
            color: #ffffff;
            transition: width 0.3s ease;
            padding: 15px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: 0.2s;
        }

        #searchbar::placeholder {
            color: gray;
        }

        #searchbtn {
            color: gray;
            background-color: #202020;
            border: none;

            padding: 15px;
            width: 4em;

            border-radius: 0px 10px 10px 0px;
            transition: background 0.2s ease-in;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        #searchbtn:hover {
            background: #242424;
            cursor: pointer;
        }

        .browserbtn {
            width: 5em;
            padding: 12px;
            background-color: #252525;
            border: 2px solid #101010;
            border-radius: 15px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: .2s;
            margin-left: 3px;
            margin-right: 3px;
        }

        .browserbtn img {
            width: 32px;
            border-radius: 5px;
        }

        .browserbtn:hover {
            background: #303030;
        }

        .search-pack {
            width: 100%;
        }

        .Recbutton {
            background-color: #202020;
            padding: 15px;
            width: 5%;
            transition: background 0.2s ease;
            border-radius: 15px;
            color: #fff;
            font-size: 0.7em;
            font-size: 15px;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .Recbutton img {
            width: 30px;
        }

        ::-webkit-scrollbar {
            width: 0.4rem;
            height: 3rem;
        }

        ::-webkit-scrollbar-track {
            background: #1c1c1c;
        }

        ::-webkit-scrollbar-thumb {
            background: #101010;
            border-radius: 2px;
        }

        @media screen and (max-width: 1451px) {
            .content {
                margin-top: 1%;
            }
        }
    </style>
</head>
<!--<script>
  let visited = localStorage.getItem("visited");
  if (visited === "" || visited === null || !visited) {
    alert("Before using our website, please read our Terms of Service. (Located in our extra page!)");
  }
</script>-->
<script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
        location.href = "/";
    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ5T2ZY0DZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-MZ5T2ZY0DZ');
</script>
<body>
    <div>
        <center><br /><br /><br />
            <div
                style="display: flex; justify-content: center; background-color: rgb(28, 28, 28, 0.75); padding: 20px; width: 70%; border: 2px solid #1c1c1c; border-radius: 12px;">
                <div class="content" style="width: 2000px">
                    <h1>Kitty Cat Club [MOBILE]</h1><br/>
                    <form style="width: 100%; display: flex; justify-content: center;" id="indexform">
                        <input type="text" id="searchbar" placeholder="Search the web freely..." />
                        <button id="searchbtn" style="margin-left: 5px;">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    <br />
                    <div style="display: flex; justify-content: center; width: 100%;">
                        <button
                            onclick="openApp('https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiI2NaovLOEAxXDnGoFHXvUDqEQFnoECAkQAQ&url=https%3A%2F%2Fwww.google.com%2F&usg=AOvVaw1xDfJh-YduXzT4-Mrql0P3&opi=89978449')"
                            class="browserbtn">
                            <img src="./img/google.png" />
                        </button>
                        <button onclick="openApp('https://www.youtube.com')" class="browserbtn">
                            <img src="./img/gxmes/youtube.jpg" />
                        </button>
                        <button onclick="openApp('https://www.discord.com/app')" class="browserbtn">
                            <img src="./img/gxmes/discord.jpg" />
                        </button>
                        <button onclick="openApp('https://start.duckduckgo.com/')" class="browserbtn">
                            <img src="./img/gxmes/tiktok.png" />
                        </button>
                    </div>
                </div>
            </div>
        </center>
    </div>
    <style>
        .joinbutton {
            margin-top: 10px;
            width: 150px;
            padding: 2px;
            border-radius: 15px;
            background-color: #202020;
            border: 2px solid #101010;
            border-radius: 25px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: 0.2s;
        }

        .joinbutton:hover {
            background-color: rgb(15, 115, 255);
            color: #fff;
        }
    </style>
    <script src="./uv/uv.bundle.js"></script>
    <script src="./uv/uv.config.js"></script>
    <script src="./js/index.js"></script>
    <script>
        let savedTitle = localStorage.getItem("tabName");
        let savedBG = localStorage.getItem("BG");
        let savedFavicon = localStorage.getItem("favicon");
        let favicon = document.getElementById("icon");
        let savedLink = localStorage.getItem("savedLink");
        let savedKey = localStorage.getItem("savedKey");
        if (savedTitle) {
            document.title = savedTitle;
        }
        if (savedFavicon) {
            favicon.href = savedFavicon;
        }

        let tabclosingval = localStorage.getItem("tabcloseval");

        window.onbeforeunload = () => {
            if (tabclosingval == "true") {
                return "Do you want to leave the current tab?";
            }
        }

        if (savedBG) {
            document.body.style.backgroundImage = `url("${savedBG}")`;
            document.body.style.backgroundRepeat = "no-repeat"
            document.body.style.backgroundSize = "cover";
        }

        function panic(event) {
            if (event.key === savedKey || event.key === savedKey) {
                if (savedLink.includes("https://")) {
                    location.replace(savedLink);
                } else {
                    location.replace("https://" + savedLink);
                }
            }
        }

        document.addEventListener("keydown", panic);
    </script>
</body>

</html>