<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitty Cat Club | <%= title %>
    </title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
</head>

<body>
    <center>
        <h1>Kitty Cat Club | Mobile</h1>
        <br />
        <form style="display: flex; justify-content: center;">
            <input type="text" id="searchbar" placeholder="Search the web freely..." />
            <button id="searchbtn" style="margin-left: 5px;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        
    </center>
    <script src="./uv/uv.bundle.js"></script>
    <script src="./uv/uv.config.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>
