<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitty Cat Club | <%= title %>
    </title>
    <link id="favicon" rel="icon" href=""/>
    <link rel="stylesheet" href="./css/settings.css" />
    <link rel="stylesheet" href="./css/all.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <script src="./js/settings.js"></script>
    <script src="./js/mobile.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <%- include("partials/navbar") %>
    <div style="display: flex;">
    <div class="card" style="margin-left: 1%;">
        <center>
            <h1 style="font-size: 30px;">Tab Cloaking</h1>
            <p>Changes the tab name and icon to something else.</p>
            <br/>
            <div>
                <button onclick="changeFaviconToGoogle()" style="width: 17%;" class="tabbtn"><img src="./img/google.png" alt="" style="width: 26px;"></button>
                <button onclick="changeFaviconToGoogleClassroom()" style="width: 17%;" class="tabbtn"><img src="./img/Google_Classroom.png" alt=""></button>
                <button onclick="changeFaviconToGoogleDrive()" style="width: 17%;" class="tabbtn"><img src="./img/google_drive.png" alt="" style="width: 26px;"></button>
                <button onclick="changeFaviconToGoogleDocs()" style="width: 17%;" class="tabbtn"><img src="./img/google_docs.ico" alt="" style="width: 26px;"></button>
            </div>
            <div>
                <p>Custom tab cloaking:</p>
                <br/>
                <input id="changetitle" onkeyup="setTabTitle()" type="text" placeholder="Type your educational title"/>
                <br/><br/>
                <input id="changefavicon" onkeyup="setFavicon()" type="text" placeholder="Put tab icon link here"/>
            </div>
        </center>
    </div>

    <div class="card" style="margin-left: 20px;">
        <center>
            <h1  style="font-size: 30px;">Panic key system</h1>
                <p>Used to redirect to another website when pressing a specific key.</p>
                <button style="padding: 12px; width: 50%;">Record keystroke</button>
                <br/><br/>
                <div id="RecordPanel">
                    <p>Recorded keystroke:</p>
                    <p id="ksText">Record a keystroke!</p>
                </div>
                <br/>
                <input type="text" placeholder="Add educational link..."/>
                <br/>
        </center>
    </div>
    <div class="card" style="margin-left: 20px; margin-right: 20px;">
        <center>
            <h1 style="font-size: 30px;">Page cloaking</h1>
            <p>Opens the provided URL in a new about:blank page</p>
            <br/>
            <div>
                <br/>
                <input id="changetitle" onkeyup="setTabTitle()" type="text" placeholder="Type your educational title"/>
                <br/><br/>
                <button>Open the page!</button>
            </div>
        </center>
    </div>
    </div>
    <div style="display: flex;">
        <div class="card" style="margin-left: 15%; height: 50%;">
            <center>
                <h1  style="font-size: 30px;">about:blank Cloak</h1>
                <p>Opens the current page in a new about:blank page.</p>
                <br/>
                <div>
                    <button onclick="openAboutBlack()" style="padding: 15px; font-size: 15px;" class="tabbtn">Click here to activate!</button>
                </div>
            </center>
        </div>
      <div class="card" style="margin-left: 20px;">
        <center>
            <h1  style="font-size: 30px;">Change Background</h1>
            <p>Changes the background to the specified URL.</p>
            <div>
                <br/>
                <input id="changebg" type="text" placeholder="Add background URL..."/>
                <button onclick="changeBG()">Change Background</button>
            </div>
        </center>
    </div>
    </div>
    <script>
      let savedTitle = localStorage.getItem("tabName");
      let savedBG = localStorage.getItem("BG");
      let savedFavicon = localStorage.getItem("favicon");
      let favicon = document.getElementById("icon");
      if (savedTitle) {
        document.title = savedTitle;
      }
      if (savedFavicon) {
        favicon.href = savedFavicon;
      }
      
      if (savedBG) {
        document.body.style.backgroundImage = `url("${savedBG}")`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundSize = "cover";
      }
    </script>
  </body>
</html>