<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitty Cat Club | <%= title %>
    </title>
    <link rel="stylesheet" href="./css/settings.css" />
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <script src="./js/mobile.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        body {
            width: 100%;
            height: 100%;
        }

        .dropdown {
            width: 300px;
            height: fit-content;
            box-sizing: border-box;
            position: relative;
            text-shadow: none;
            color: #000;
        }

        .input-box {
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            outline: 0.3mm solid rgba(0, 0, 0, 0.15);
            border-radius: 2mm;
            padding: 10px 15px;
            font-family: poppins;
            font-size: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            background-color: #373737;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .input-box::before {
            content: "⮟";
            font-family: "Material Icons";
            position: absolute;
            font-size: 18px;
            top: 50%;
            right: 15px;
            transform: translate(0, -50%);
            width: fit-content;
            height: fit-content;
        }

        .input-box.open::before {
            content: "⮝";
        }

        .input-box:empty::after {
            content: "Google";
        }

        .list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: fit-content;
            background: white;
            margin-top: 10px;
            border-radius: 2mm;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            max-height: 0;
            transition: 0.25s ease-out;
        }

        .list input {
            display: none;
        }

        .list label {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            font-family: poppins;
            font-size: 14px;
            padding: 10px 15px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
        }

        .list label .material-icons-outlined,
        .input-box .material-icons-outlined {
            margin-right: 5px;
            font-size: 22px;
        }

        .list label:hover {
            background: rgba(0, 0, 0, 0.08);
        }

        input:checked+label {
            color: rgb(47, 47, 47);
            background: rgb(238, 245, 252);
        }

        input:checked+label::before {
            content: "";
            font-family: "Material Icons";
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(0, -50%);
            font-size: 18px;
        }

        .open {
            outline: 0.7mm solid rgb(47, 47, 47);
        }

        #uv-search-engine {
            width: 50%;
        }
    </style>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ5T2ZY0DZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-MZ5T2ZY0DZ');
</script>

<body>
    <%- include("partials/navbar") %>
        <center>
            <div class="flex-box">
                <div class="notification">
                    <h3 class="title"></h3>
                    <p class="content"></p>
                </div>
            </div>
        </center>
        <div class="settingsList" style="margin-top: 5%; justify-content: center;">
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Tab Cloaking</h1>
                    <p>Changes the title of webite, or changes the favicon.</p>
                    <br />
                    <div>
                        <button onclick="changeFaviconToGoogle()" style="width: auto;" class="tabbtn"><img
                                src="./img/google.png" alt="" style="width: 26px;"></button>
                        <button onclick="changeFaviconToGoogleClassroom()" style="width: auto;" class="tabbtn"><img
                                src="./img/Google_Classroom.png" alt="" style="width: 26px;"></button>
                        <button onclick="changeFaviconToGoogleDrive()" style="width: auto;" class="tabbtn"><img
                                src="./img/google_drive.png" alt="" style="width: 26px;"></button>
                        <button onclick="changeFaviconToGoogleDocs()" style="width: auto;" class="tabbtn"><img
                                src="./img/google_docs.ico" alt="" style="width: 26px;"></button>
                        <button style="width: auto;" class="tabbtn" onclick="document.querySelector('.curtain').style.visibility = 'visible'
                        document.querySelector('.curtain').style.opacity = '1'
                        document.getElementById('customtabck').removeAttribute('hidden');
                        document.getElementById('recCard').setAttribute('hidden', true);
                        ">
                            <i style="font-size: 2em;" class="fa-solid fa-screwdriver-wrench"></i></button>
                    </div>
                </center>
            </div>
            <script>
                const isLoggedIn = localStorage.getItem("loggedin");
                if (!isLoggedIn) {
                    location.replace("/");
                }
            </script>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Panic key system</h1>
                    <p>Self explainatory, but when you press the recorded keystroke it will redirect you to the inputted
                        link.</p>
                    <div class="keystrokebtns">
                        <button id="recordbtn" id="clearbtn" style="padding: 12px; margin-top: 5px;">
                            Record keystroke
                        </button>
                        <button
                            onclick="localStorage.removeItem('savedKey'); localStorage.removeItem('savedLink'); location.reload();"
                            style="padding: 12px; margin-top: 5px;">
                            Reset P.K.S.
                        </button>
                        <!--</div><br />
                    -->
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Change Credentials</h1>
                    <p>Changes your username and password.</p>
                    <div>
                        <input placeholder="New username..." type="text" id="username"
                            style="width: 15em; margin-left: 5px;  margin-right: 5px;" />
                        <input placeholder="New password..." type="password" id="password"
                            style="width: 15em; margin-left: 5px;  margin-right: 5px;" /><br />
                        <script>
                            let userInput = document.getElementById("username");
                            let passInput = document.getElementById("password");
                            let saveduser = localStorage.getItem("savedUser");
                            let savedpass = localStorage.getItem("savedPass");
                            function saveUser() {
                                if (!userInput.value) {
                                    notify("Username error", "You can't set a blank username!");
                                } else {
                                    localStorage.setItem("savedUser", userInput.value);
                                    notify("Username saved", "Username has been saved!");
                                }
                            }
                            function savePass() {
                                if (!passInput.value) {
                                    notify("Password error", "You can't set a blank password!");
                                } else if (!(passInput.value.length >= 10)) {
                                    notify("Password error", `Your new password must be at least 10 characters.`);
                                } else {
                                    localStorage.setItem("savedPass", passInput.value);
                                    notify("Password saved", `Password has been saved! <br/> (New password: ${localStorage.getItem("savedPass")})`);
                                }
                            }
                            function savedBoth() {
                                if (!userInput.value && !passInput.value) {
                                    notify("Credentials Error", "Both inputs have a blank value!");
                                } else if (!userInput.value || !passInput.value) {
                                    notify("Credentials Error", "One of the inputs have a blank value!");
                                }
                                else {
                                    localStorage.setItem("savedUser", userInput.value);
                                    localStorage.setItem("savedPass", passInput.value);
                                    notify("Credentials saved", `Both Credentials have been saved! <br/> (New password: ${localStorage.getItem("savedPass")})`);
                                }
                            }
                        </script>
                        <button onclick="saveUser()" style="margin-top: 5px; margin-right: 5em;">
                            Save Username
                        </button>
                        <button onclick="savePass()" style="margin-top: 5px;">
                            Save Password
                        </button>
                        <br /><br />
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Search engine</h1>
                    <p>Switches the proxy search engine. (Default is Google)</p>
                    <div class="text-center" style="display: flexbox;">
                        <div class="center">
                            <div class="dropdown"><br>
                                <div class="input-box custom-cursor-on-hover"></div>
                                <div class="list">
                                    <input type="radio" name="drop1" id="id11" class="radio">
                                    <label for="id11">
                                        <span>Google</span>
                                    </label>

                                    <input type="radio" name="drop1" id="id12" class="radio">
                                    <label for="id12">
                                        <span>Bing</span>
                                    </label>

                                    <input type="radio" name="drop1" id="id13" class="radio">
                                    <label for="id13">
                                        <span>Yahoo</span>
                                    </label>

                                    <input type="radio" name="drop1" id="id14" class="radio">
                                    <label for="id14">
                                        <span>DuckDuckGo</span>
                                    </label>

                                    <input type="radio" name="drop1" id="id15" class="radio">
                                    <label for="id15">
                                        <span>Ask.com</span>
                                    </label>

                                    <input type="radio" name="drop1" id="id16" class="radio">
                                    <label for="id16">
                                        <span>Yandex</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br><input hidden id="uv-search-engine" class="uv-input-search text-center" type="url"
                            placeholder="[Add search engine link]" value="[Add search engine here]">
                    </div>
            </div>

            </center>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Page cloaking</h1>
                    <p>Opens the provided URL in a new about:blank page</p><br />
                    <div>
                        <input id="aboutblankval" type="text" placeholder="Insert your URL here..."
                            style="width: 40%;" />
                        <button id="cloakbtn" style="padding: 10px; width: auto;">Open the page!</button>
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Advanced about:blank cloaking</h1>
                    <p>Automatically cloaks the site when loaded. (This will hide the website from your search history!)</p><br />
                    <div>
                        <button id="advcloakbtn" onclick="
                            if (localStorage.getItem('advCloak') == 0 || !localStorage.getItem('advCloak')) {
                                localStorage.setItem('advCloak', 1);
                                alert('Please note that you will need to enable popups for this to work.'); 
                                localStorage.setItem('windowurl', window.location.href);
                                location.reload();
                            } else {
                                localStorage.setItem('advCloak', 0);
                                window.location.href = localStorage.getItem('windowurl');
                            }
                            ">
                            Toggle Cloaker
                        </button>
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Change Background</h1>
                    <p>Changes the background to the specified URL.</p><br />
                    <div>
                        <input id="changebg" type="text" placeholder="Add background URL..." style="width: 40%;" />
                        <button onclick="changeBG()" style="padding: 10px; width: auto;">Change Background</button>
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Tab Close Prevention</h1>
                    <p>When teachers close the tab, it will show an alert preventing it from being closed.</p>
                    <div>
                        <button onclick="preventClosing()" class="tabclosebtn">Enable Tab Closing Preventer</button>
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">about:blank Cloak</h1>
                    <p>Opens the current page in a new about:blank page.</p>
                    <br />
                    <div>
                        <button onclick="openAboutBlack()" style="padding: 15px; font-size: 15px;" class="tabbtn">Click
                            here to activate!</button>
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Toggle Clock</h1>
                    <p>Toggles the clock visiblity from showing or not.</p>
                    <div><br />
                        <button onclick="toggleClockVisiblity()">Change Visiblity</button>
                    </div>
                </center>
            </div>
            <div class="card">
                <center>
                    <h1 style="font-size: 30px;">Logout</h1>
                    <p>Log out of Kitty Cat Club.</p>
                    <br />
                    <div>
                        <button onclick="localStorage.removeItem('loggedin'); location.reload();"
                            style="padding: 15px; font-size: 15px;" id="logout">Log out</button>
                    </div>
                </center>
            </div>
            <div class="curtain">
                <div class="centerct">
                    <div class="cardfixed" id="recCard">
                        <div class="centermargin">
                            <button id="cancel" style="position: fixed; left: 40%; transform: translateX(-50%);">Cancel
                                Changes</button>
                        </div>
                        <div id="RecordPanel" style=" margin-top: 70px;">
                            <p>Recorded keystroke:</p>
                            <p id="ksText">Record a keystroke!</p>
                        </div><br />
                        <div class="centermargin">
                            <input id="eduInput" type="text" placeholder="Add educational link..." />
                            <button id="changeUrl" style="margin-left: 10px; padding: 9px; width: 25%;">Save
                                link</button>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="centerct">
                    <div class="cardfixed" id="customtabck" hidden>
                        <h1 style="display: flex; justify-content: center;">Custom Tab Cloaking</h1><br />
                        <div style="display: flex; justify-content: center;">
                            <input id="changetitle" type="text" placeholder="Your educational title.." />
                            <br /><br />
                        </div><br />
                        <div style="display: flex; justify-content: center;">
                            <input id="changefavicon" type="text" placeholder="Paste Favicon URL.." />
                        </div><br />
                        <div style="display: flex; justify-content: center; margin-top: 5px;">
                            <button style="padding: 0.7em; margin-right: 5px; margin-left: 5px;" id="savechanges"
                                onclick="settabandfavicon()">Save Changes</button>
                            <button style="padding: 0.7em; margin-left: 5px; margin-right: 5px;" id="cancelchanges"
                                onclick="
                                document.getElementById('changetitle').value = '';
                                document.getElementById('changefavicon').value = '';
                                document.querySelector('.curtain').style.opacity = 0;
                                delay(300).then(() => {
                                    document.querySelector('.curtain').style.visibility = 'hidden';
                                    document.getElementById('customtabck').setAttribute('hidden', true);
                                });
                            ">Cancel Changes</button>
                            <button style="padding: 0.7em; margin-left: 5px; margin-right: 5px;" id="clearall" onclick="
                            document.title = 'Kitty Cat Club | Settings';
                            document.getElementById('icon').href = './img/logo.png';
                            localStorage.setItem('favicon', './img/logo.png');
                            localStorage.setItem('tabName', '');
                            document.querySelector('.curtain').style.opacity = 0;
                                delay(300).then(() => {
                                    document.querySelector('.curtain').style.visibility = 'hidden';
                                    document.getElementById('customtabck').setAttribute('hidden', true);
                                });
                            ">Clear all</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/settings.js"></script>
        <%- include("partials/footer") -%>
            <script src="./js/panickey.js"></script>
            <script src="./js/index.js"></script>
            <script src="./uv/uv.bundle.js"></script>
            <script src="./uv/uv.config.js"></script>
            <script>
                let savedTitle = localStorage.getItem("tabName");
                let savedBG = localStorage.getItem("BG");
                let savedFavicon = localStorage.getItem("favicon");
                let favicon = document.getElementById("icon");
                if (savedTitle) {
                    document.title = savedTitle;
                }
                if (savedFavicon) {
                    favicon.href = savedFavicon;
                }

                if (savedBG) {
                    document.body.style.backgroundImage = `url("${savedBG}")`;
                    document.body.style.backgroundRepeat = "no-repeat"
                    document.body.style.backgroundSize = "cover";
                    document.body.style.backgroundAttachment = "fixed";
                    document.body.style.backgroundSize = "100% 100%";
                }
                if (localStorage.getItem("advCloak") == 1) {
                    document.getElementById("advcloakbtn").innerHTML = "Disable Cloaker";
                    if (window === window.top) {
                        let popup = window.open('about:blank', '_blank');
                        let doc = popup.document;
                        let aboutiframe = doc.createElement('iframe');
                        let faviconabout = doc.createElement('link');
                        doc.title = name;
                        faviconabout.rel = 'icon';
                        faviconabout.href = icon;
                        aboutiframe.src = location.href;
                        aboutiframe.style.position = 'fixed';
                        aboutiframe.style.top = 0;
                        aboutiframe.style.bottom = 0;
                        aboutiframe.style.left = 0;
                        aboutiframe.style.right = 0;
                        aboutiframe.style.border = 'none';
                        aboutiframe.style.width = "100%";
                        aboutiframe.style.height = '100%';
                        doc.head.appendChild(faviconabout);
                        doc.body.appendChild(aboutiframe);
                        location.replace('https://classroom.google.com/');
                    }
                }

                window.onbeforeunload = () => {
                    if (tabclosingval == "true") {
                        return "Do you want to leave the current tab?";
                    }
                }
            </script>
            <!--Dropdown js-->
            <script>
                const uvSearch = document.getElementById("uv-search-engine");
                var inputbox = document.querySelector(".input-box");
                const savedEngine = localStorage.getItem("savedengine");
                const se2 = localStorage.getItem("searchengine");
                if (savedEngine) {
                    uvSearch.value = getSearchEngineURL(savedEngine);
                    inputbox.textContent = savedEngine;
                }

                inputbox.onclick = function () {
                    this.classList.toggle("open");
                    let list = this.nextElementSibling;
                    if (list.style.maxHeight) {
                        list.style.maxHeight = null;
                        list.style.boxShadow = null;
                    } else {
                        list.style.maxHeight = list.scrollHeight + "px";
                        list.style.boxShadow =
                            "0 1px 2px 0 rgba(0, 0, 0, 0.15),0 1px 3px 1px rgba(0, 0, 0, 0.1)";
                    }
                };

                var rad = document.querySelectorAll(".radio");
                rad.forEach((item) => {
                    item.addEventListener("change", () => {
                        const selectedOption = item.nextElementSibling.querySelector("span").innerText;
                        uvSearch.value = getSearchEngineURL(selectedOption);
                        inputbox.textContent = selectedOption + " (Selected)";
                        saveSelectedEngine(selectedOption);
                        inputbox.click();
                        if (selectedOption === "Custom URL") {
                            uvSearch.removeAttribute("hidden");
                        } else uvSearch.setAttribute('hidden', true);
                    });
                });

                window.onload = function () {
                    if (savedEngine) {
                        rad.forEach((item) => {
                            const label = item.nextElementSibling.querySelector("span").innerText;
                            if (label === savedEngine) {
                                item.checked = true;
                                if (savedEngine === "Custom URL") uvSearch.removeAttribute("hidden");
                            }
                        });
                    }
                };

                function saveSelectedEngine(selectedEngine) {
                    localStorage.setItem("savedengine", selectedEngine);
                }

                function getSearchEngineURL(engineName) {

                    switch (engineName.toLowerCase()) {
                        case "google":
                            localStorage.setItem("searchengine", 'https://www.google.com/search?q=');
                            return "https://www.google.com/search?q=";
                        case "bing":
                            localStorage.setItem("searchengine", 'https://www.bing.com/search?q=');
                            return "https://www.bing.com/search?q=";
                        case "yahoo":
                            localStorage.setItem("searchengine", 'https://search.yahoo.com/search?q=');
                            return "https://search.yahoo.com/search?q=";
                        case "duckduckgo":
                            localStorage.setItem("searchengine", 'https://start.duckduckgo.com/?q=');
                            return "https://start.duckduckgo.com/?q=";
                        case "ask.com":
                            localStorage.setItem("searchengine", 'https://www.ask.com/web?q=');
                            return "https://start.duckduckgo.com/?q=";
                        case "yandex":
                            localStorage.setItem("searchengine", 'https://yandex.com/search/?text=');
                            return "https://yandex.com/search/?text=";
                        default:
                            return "";
                    }
                }
                var label = document.querySelectorAll("label");
                function search(searchin) {
                    let searchVal = searchin.value;
                    searchVal = searchVal.toUpperCase();
                    label.forEach((item) => {
                        let checkVal = item.querySelector(".name").innerHTML;
                        checkVal = checkVal.toUpperCase();
                        if (checkVal.indexOf(searchVal) == -1) {
                            item.style.display = "none";
                        } else {
                            item.style.display = "flex";
                        }
                        let list = inputbox.nextElementSibling;
                        list.style.maxHeight = list.scrollHeight + "px";
                    });
                }
            </script>
            <script type='text/javascript' src='//banddisordergraceless.com/c4/4a/c4/c44ac4c7bdf482ac97d9545605fb3c5e.js'></script>
</body>

</html>
