<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduVista | Teachers</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        * {
            font-family: 'Montserrat', sans-serif;
        }
        h1 {
            font-size: 2em;
        }
        body {
            background-color: aliceblue;
            color: #000;
            background-image: url("./img/bgs/");
            background-repeat: no-repeat;
            background-size: cover;
        }

        input {
            background-color: rgb(243, 249, 255);
            padding: 10px;
            color: #000;
            border: 2px solid rgb(175, 175, 175);
            border-radius: 5px;
            width: 15em;
            transition: 0.3s ease;
        }

        input::placeholder {
            color: gray;
        }

        .panel {
            background-color: #FFF;
            padding: 20px;
            box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.5);
            width: auto;
            text-align: center;
            width: 30em;
            border-radius: 12px;
            border-color: black;
            transition: 0.3s ease;
        }

        button {
            border: none;
            border-radius: 5px;
            width: 12em;
            height: auto;
            background-color: rgb(0, 157, 255);
            color: #FFF;
            transition: 0.3s ease;
        }

        button:hover {
            background-color: rgb(0, 111, 181);
        }
    </style>
</head>

<body>
    <center style="margin-top: 10%;">
        <div class="panel">
            <h1>EduVista: Teachers Login</h1>
            <br>
            <br><input placeholder="Username" id="username" type="text" />
            <br><br>
            <input placeholder="Password" id="password" type="password" />
            <div>
                <p>Are you a student? Login using the <a href="/">students page!</a></p>
                <br>
                <button onclick="loginSystem()">
                    <h3>Log in</h3>
                </button>
            </div>
            <p style="color: red;" id="error"></p>
        </div>
    </center>
    <script>
        const isLoggedIn = localStorage.getItem("loggedin");
        if (isLoggedIn) {
            location.replace("/dashboard");
        }
        const err = document.getElementById("error");
        document.addEventListener("DOMContentLoaded", function () {
            err.style.display = "none";
        });
        function delay(milliseconds) {
            return new Promise(resolve => {
                setTimeout(resolve, milliseconds);
            });
        }
        function loginSystem() {
            error.innerHTML = "The teachers login page doesn't seem to be working at this time.";
            error.style.display = "";
            delay(2000).then(() => {
                error.style.display = "none";
            });
        }

    </script>
</body>

</html>