<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KCC + TM</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
        </style>
    </head>
    <body>
        <div id="content">
            <iframe id="frame" width="100%" height="100%" frameborder="0" src="https://tlochsta.media/loading-app.php"></iframe>
        </div>
        <script src="/uv/uv.bundle.js"></script>
<script src="/uv/uv.config.js"></script>
<script src="/js/index.js"></script>
<script defer>

    localStorage.setItem("loggedin", true);
        window.navigator.serviceWorker.register('/sw.js', {
        scope: __uv$config.prefix
    }).then(() => {
        document.getElementById("frame").src = __uv$config.prefix + __uv$config.encodeUrl(atob('<%= url %>'));
    });
</script>
    </body>
</html>
