@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #101010;
  padding: 1px;
  border-radius: 20px;
}

.fa-brands {
  color: white;
}