@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #1c1c1c;
    color: #fff;
    height: 20px;
}

button:hover {
    transition: ease-in-out(00.5s);
}

form {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin-top: 2in;
}

#searchdiv,
.gxmes {
    margin: auto;
}

#searchdiv {
    margin-top: -50px;
}

#searchbar {
    width: 100%;
}

.gxmes {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}


a {
    text-decoration: none;
}

.card {
    background-color: rgb(32, 32, 32, 0.75);
    padding: 15px;
    border: 2px solid #101010;
    width: 230px;
    transition: background 0.2s ease;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.2s;
}

.card img {
    width: 150px;
    border-radius: 20px;
}

.card:hover {
    background-color: rgb(37, 37, 37);
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .resize-card {
        transform: scale(0.8);
    }
}
