@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

select {
    background-color: #202020;
    color: #FFF;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

select:hover {
    cursor: pointer;
}

body {
    background-color: #1c1c1c;
    color: #fff;
    height: 20px;
}

button:hover {
    transition: ease-in-out(00.5s);
}

form {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin-top: 2in;
}

#searchdiv,
.gxmes {
    margin: auto;
}

#searchdiv {
    margin-top: -50px;
}

#searchbar {
    width: 100%;
}

.gxmes, .apps {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}

.editgames {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 170%;
    width: 30em;
    height: 50%;
}

.editgamesdiv {
    overflow-y: auto;
    max-height: 250px;
}

#loadinggames {
    visibility: hidden;
    opacity: 0;
}



a {
    text-decoration: none;
}

.card {
    background-color: rgb(32, 32, 32, 0);
    border: none;
    width: 150px;
    transition: transform 0.2s ease;
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    margin-left: 25px;
    margin-top: 25px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
}



.card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.add-game-card {
    background-color: rgb(32, 32, 32, 0.75);
    padding: 15px;
    border: 2px solid #101010;
    width: 230px;
    transition: background 0.2s ease;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.2s;
}
.add-game-card i {
    font-size: 10em;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid #FFF;
}


.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::after .title {
    opacity: 1;
}

.card:hover::after {
    opacity: 1; /* Adjust the opacity as desired */
}


@media screen and (max-width: 600px) {
    .resize-card {
        transform: scale(0.8);
    }
}

.title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center; /* Optional: Center align the text */
    opacity: 0;
    transition: 0.2s;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.card:hover .title {
    opacity: 1;
    
}

.curtain {
    background-color: #0000008e;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    visibility: hidden;
    opacity: 0;
}

.panel {
    background-color: #1c1c1c;
    top: 25%;
    position: fixed;
    padding: 20px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
    width: 30em;
    transition: 0.3s;
    opacity: 0;
}

.panel h1 {
    margin-top: -10px;
}

.panel button {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

#loadgame {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}