@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

a {
  color: #656565;
  text-decoration: none;
}

img {
  width: 10%;
}



body {
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#searchbar {
  background-color: #404040;
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 27em;
  text-align: center;
  color: #ffffff;
  transition: width 0.3s ease;
  padding: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

#searchbar::placeholder {
  color: gray;
}

#searchbar:focus {
  width: 31em;
  border: none;
}

#searchbtn {
  color: gray;
  background-color: #202020;
  border: none;

  padding: 15px;
  width: 4em;

  border-radius: 0px 10px 10px 0px;
  transition: background 0.2s ease-in;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#searchbtn:hover {
  background: #242424;
}

.browserbtn {
  width: auto;
  padding: 12px;
  background-color: #252525;
  border: 2px solid #101010;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: .2s;
}
.browserbtn img {
  width: auto;
}
.browserbtn:hover {
  background: #303030;
}

.search-pack {
  width: 100%;
}

.Recbutton {
  background-color: #202020;
  padding: 15px;
  width: 5%;
  transition: background 0.2s ease;
  border-radius: 15px;
  color: #fff;
  font-size: 0.7em;
  font-size: 15px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Recbutton img {
  width: 30px;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 3rem;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background: #101010;
  border-radius: 2px;
}

@media screen and (max-width: 1451px) {
  .content {
    margin-top:1%;
  }
}