@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#topmost {
  position: relative;
  z-index: 999;
  display: block;
  /* Added to make it a block element */
  margin-bottom: 20px;
  /* Adjust this value as needed */
}

iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.searchbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 1em;
  margin-top: 10px;
  top: 15px;
}

.searchinput {
  background-color: rgb(64, 64, 64, 0.8);
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 20em;
  text-align: center;
  color: #ffffff;
  transition: width 0.3s ease;
  padding: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.flex-box {
  display: flex;
  justify-content: center;
  width: 1%;
}

.searchinput:hover {
  background-color: rgb(64, 64, 64);
}

.searchinput:focus {
  background-color: rgb(64, 64, 64);
}

.searchinput::placeholder {
  color: gray;
}

.searchbtn {
  color: gray;
  background-color: rgb(32, 32, 32, 0.8);
  border: none;
  padding: 15px;
  width: 4em;
  border-radius: 0px 10px 10px 0px;
  transition: background 0.2s ease-in;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.searchbtn:hover {
  background: #242424;
}

.mainbtns {
  position: fixed; 
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  background-color: #242424;
  border-radius: 100px;
  border: 2px solid #151515;
  transition: 0.5s;
  z-index: 999;
  flex-wrap: nowrap;
  top: 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.navbtn {
  border: 1px solid #000;
  border-radius: 10000px;
  background-color: rgb(64, 64, 64, 0.75);
  color: #000;
  padding: 15px;
  justify-content: space-between;
  width: 55px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.2s;
}


.navbtn:hover {
  background-color: rgb(64, 64, 64);
  transform: scale(1.2);
}

.settingspanel {
  background-color: #151515;
  width: 40em;
  padding: 15px;
  height: auto;
  border: 2px solid #101010;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 9999999;
}

.card {
  display: flex;
  justify-content: center;
}
.settingsbtn {
  margin-bottom: 5px;
}

.proxyurl {
  position: fixed;
  left: 55%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 25%;
  visibility: hidden;
}



.dropdown {
  position: fixed;
  top: -10px;
  background-color: #242424;
  border: 2px solid #151515;
  border-radius: 0 0 10px 10px;
  height: auto;
  width: 10%;
  text-align: center;
  z-index: 998;
  padding: 5px;
  opacity: 0;
  transition: 0.3s ease;
}

.dropdown:hover {
  background-color: #303030;
}