body {
  background-color: #000;
}

.main {
  position: fixed;
  top: 0;
  background-color: #202020;
  width: auto;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


button {
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 5px;
}

button:hover {
  cursor: pointer;
}

.navbtn {
  background-color: #252525;
  border: 1px solid #151515;
  border-radius: 150px;
  padding: 25px;
}

.navbtn:hover {
  background-color: #8c8c8c;
  transform: scale(1.1);
}

.searchinput {
  background-color: #272727;
  border: 1.5px solid #151515;
  width: 30vw;
  padding: 5px;
  margin-top: 1px;
  height: 35px;
}

.searchinput:hover {
  cursor: pointer;
}

.searchinput:focus {
  cursor: text;
}

.align-left,
.align-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.align-left a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.align-left a:hover {
  color: #000;
}

.align-left img {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.align-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.align-right p {
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.align-right ul {
  list-style: none;
  display: flex;
}

.align-right li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.align-right a {
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: none;
}

.align-right a:hover {
  color: #252525;
}

.align-right a:hover i {
  background: #FFF;
}

h2,
p {
  color: #FFF;
  transition: color 0.2s ease;
}

p {
  text-align: center;
  white-space: nowrap;
}

.navbtn {
  width: 3em;
  padding: 9px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.menu {
  position: fixed;
  top: 5.5em;
  right: 10px;
  padding: 20px;
  background-color: #202020;
  border: 2px solid #000;
  width: 32em;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
}

.menu p {
  font-size: 1em;
}

.clockdisplay {
  background-color: #252525;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 3.5em;
  width: 8.5em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  visibility: visible;
}

iframe {
  position: fixed;
  height: calc(100vh - 5em);
  width: 100%;
  border: none;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.toggleuibtn {
  position: fixed;
  top: -100px;
  border-radius: 0px 0px 12px 12px;
  width: 100px;
  height: 2em;
  left: 50%;
  transform: translateX(-50%);
}

.toggleuibtn:hover {
  background-color: #404040;
}