#container {
  background-color: #303030;
  padding: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; 
  width: 60%; 
  z-index: 999; 
  margin-top: 10px;
  justify-content: center; 
  left: 20%;
}
  .align-left,
  .align-right {
    flex: 1; 
    display: flex;
    align-items: center;
  }
  
  .align-left a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .align-left a:hover {
    color: #000;
  }
  
  .align-left img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .align-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  
  .align-right p {
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
  
  .align-right ul {
    list-style: none;
    display: flex;
  }
  
  .align-right li {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .align-right a {
    color: #fff;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .align-right a:hover {
    color: #252525;
  }
  
  .align-right i {
    background-color: #252525;
    width: 19px;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.2s ease;
  }
  
  .align-right a:hover i {
    background: #FFF;
  }
  
  h2, p {
    color: #FFF;
    transition: color 0.2s ease;
  }
  
  #esad:hover {
    color: #505050;
  }  

  @media screen and (max-width: 1211px) {
    #timer {
      display: none;
    }
  }
  @media screen and (max-width: 1140px) {
    #esad {
      display: none;
    }
  }