@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
    overflow-x: hidden;
}
.card {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 35em;
    margin-top: 20px;
    background-color: rgb(26, 26, 26, 0.75);
    border: 2px solid #1b1b1b;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    height: 15em;
}

.keystrokebtns {
    display: flex;
    justify-content: center;
  }
#recordbtn, #clearbtn {
    margin-left: 10px;
    margin-right: 10px;
}

.settingsList {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
}


#ksText {
    font-size: 30px;
    color: #FFFFFF;
}

#cancel:hover, #logout:hover {
    background-color: crimson;
}



  .curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #00000074;
    z-index: 9999;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
  }

  #RecordPanel {
    background-color: rgba(16, 16, 16, 0.25);
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* Add the following properties */
    max-width: 400px; /* Adjust the value as needed */
    margin: 0 auto; /* Center the panel horizontally */
    padding: 15px;
    text-align: center;
}

.centerct {
    margin-top: 15%;
}

.cardfixed {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 35em;
    margin-top: 20px;
    background-color: rgb(26, 26, 26);
    border: 2px solid #1b1b1b;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.centermargin {
    transform: translateX(9%);
    right: -7%
}


#cancelchange {
    margin: 0 auto; /* Add this line to center the button horizontally */
}

#cancelchange:hover {
    background-color: crimson;
}

#clearall:hover, #cancelchanges:hover {
    background-color: crimson;
}