@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1c1c1c;
  color: #fff;
}
#searchbar {
  background-color: #202020;
  border: none;
  border-radius: 5px;
  padding: 3px;
  width: 20%;
}
#searchbar::placeholder {
  color: #fff;
  font-size: 0.7em;
}




.search-pack {
    width: 100%;
}
