<div class="apps" style="display: flex; justify-content: center; flex-direction: c;">
    <div>
        <div class="apps-search-div">
            <input placeholder="Search for apps . . ." id="apps-search" class="input" style="width: 30vw">
        </div>
        <div class="apps-list">
            
        </div>
    </div>
</div>