<div class="extra">
    <div class="extra-list">
        <div class="extra-card" style="width: 65vw;">
            <h1>Partners</h1>
            <div class="partner-list">
                <div class="partner-card" onclick="window.open('https://lunarsync.smartfoloo.space/')">
                    <img src="./img/partners/shadow.png">
                    <p>Shadow Network</p>
                </div>
                <div class="partner-card" onclick="window.open('https://lunarsync.smartfoloo.space/')">
                    <img src="./img/partners/shadow.png">
                    <p>Shadow Network</p>
                </div>
                <div class="partner-card" onclick="window.open('https://lunarsync.smartfoloo.space/')">
                    <img src="./img/partners/shadow.png">
                    <p>Shadow Network</p>
                </div>
                <div class="partner-card" onclick="window.open('https://lunarsync.smartfoloo.space/')">
                    <img src="./img/partners/shadow.png">
                    <p>Shadow Network</p>
                </div>
                <div class="partner-card" onclick="window.open('https://lunarsync.smartfoloo.space/')">
                    <img src="./img/partners/shadow.png">
                    <p>Shadow Network</p>
                </div>
                <div class="partner-card" onclick="window.open('https://lunarsync.smartfoloo.space/')">
                    <img src="./img/partners/shadow.png">
                    <p>Shadow Network</p>
                </div>
            </div>
        </div>
        <div class="extra-card" style="width: auto;">
            <h1 style="margin: 5px;">Credits</h1>
            <p class="credits-p"><strong>Tlochsta (tlochsta)</strong> - Founder</p>
            <p class="credits-p"><strong>Mecharis (xineese)</strong> - Developer</p>
            <p class="credits-p"><strong>A1RG3MM (a1rg3mm)</strong> - Developer (made 90% of site)</p>
            <p class="credits-p"><strong>Billy (bsod232)</strong> - Developer (forgot what you did but idk)</p>
            <p class="credits-p"><strong>Xordas (.xordas)</strong> - Mental support</p>
            <p class="credits-p"><strong>Giddy (questionedlife)</strong> - bully (:cool:)</p>
        </div>
    </div>
</div>