<div class="games" style="display: flex; justify-content: center; flex-direction: c;">
    <div>
        <div class="game-search-div">
            <input placeholder="Search for games . . ." id="game-search" class="input" style="width: 30vw">
        </div>
        <div class="games-list">
        </div>
    </div>
</div>