<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics
    </title>
    <link rel="stylesheet" href="./css/all.css" />
    <link id="icon" rel="icon" type="image/x-icon" href="./img/math.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ5T2ZY0DZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-MZ5T2ZY0DZ');
</script>
<style>
    .tabs {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 4em;
        background-color: #151515;
        z-index: 9599243991294871;
    }
    .tab {
        background-color: #202020;
        height: 3em;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 5px;
        width: 10em;
        border-radius: 5px;
        transition: 0.3s;
    }

    .tab:hover {
        cursor: pointer;
        background-color: #252525;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 3px;
    }

    .tab p {
        margin-top: 12px;
    }

    .tab img {
        width: 10%;
    }

    body {
        background-color: #000;
    }

    .main {
        position: fixed;
        top: 0px;
        background-color: #202020;
        width: auto;
        left: 0;
        right: 0;
        padding: 1em;
        text-align: center;
        display: flex;
        justify-content: center;
        transition: all 0.3s;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }


    button {
        margin-right: 3px;
        margin-left: 3px;
        margin-bottom: 5px;
    }

    button:hover {
        cursor: pointer;
    }

    .navbtn {
        background-color: #252525;
        border: 1px solid #151515;
        border-radius: 150px;
        padding: 25px;
    }

    .navbtn:hover {
        background-color: #8c8c8c;
        transform: scale(1.1);
    }

    .searchinput {
        background-color: #272727;
        border: 1.5px solid #151515;
        width: 30vw;
        padding: 5px;
        margin-top: 1px;
        height: 35px;
    }

    .searchinput:hover {
        cursor: pointer;
    }

    .searchinput:focus {
        cursor: text;
    }

    .align-left,
    .align-right {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .align-left a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
    }

    .align-left a:hover {
        color: #000;
    }

    .align-left img {
        width: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .align-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .align-right p {
       margin: 0;
        text-align: center;
        white-space: nowrap;
    }

    .align-right ul {
        list-style: none;
        display: flex;
    }

    .align-right li {
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

    .align-right a {
        color: #fff;
        transition: color 0.3s ease;
        text-decoration: none;
    }

    .align-right a:hover {
        color: #252525;
    }

    .align-right a:hover i {
        background: #FFF;
    }

    h2,
    p {
        color: #FFF;
        transition: color 0.2s ease;
    }

    p {
        text-align: center;
        white-space: nowrap;
    }

    .navbtn {
        width: 3em;
        padding: 9px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 2px;
    }

    .menu {
        position: fixed;
        top: 5.5em;
        right: 10px;
        padding: 20px;
        background-color: #202020;
        border: 2px solid #000;
        width: 32em;
        border-radius: 15px;
        opacity: 0;
        visibility: hidden;
    }

    .menu p {
        font-size: 1em;
    }

    .clockdisplay {
        background-color: #252525;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        height: 3.5em;
        width: 8.5em;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        visibility: hidden;
    }

    iframe {
        position: fixed;
        height: calc(100vh - 5em);
        width: 100%;
        border: none;
        top: 80px;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }

    .toggleuibtn {
        position: fixed;
        top: -100px;
        border-radius: 12px;
        width: 4em;
        height: 3.5em;
        right: 2em;
        padding: 20px;
    }

    .fa-x {
        margin-top: 7px;
    }

    .toggleuibtn:hover {
        background-color: #404040;
    }
</style>

<body>
    <center>
        <div>
            <div class="displayiframe">
                <iframe src="" id="result" height="50vh"></iframe>
            </div>
            <div class="main" onmouseover=" detecthiddenui()" onmouseleave="inputlostfocus = 0; hideui()">
                <div class="align-left">
                    <button class="navbtn" onclick="document.getElementById('result').contentWindow.history.go(-1);">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button class="navbtn"
                        onclick="document.getElementById('result').contentWindow.location.reload(true);">
                        <i class="fa-solid fa-rotate-right"></i>
                    </button>
                    <button class="navbtn" onclick="document.getElementById('result').contentWindow.history.go(1);">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <button class="navbtn" onclick="popoutWindow()">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </button>
                    <button class="navbtn" onclick="devTools()">
                        <i class="fa-solid fa-code"></i>
                    </button>
                </div>

                <div style="display: flex; justify-content: center;
                margin-left: 20px; margin-right: 20px;">
                    <form id="searchform">
                        <input class="searchinput" placeholder="Search the web or enter a URL. . ."
                            onfocus="keepuiopen = 1; dontchangeurl = 1"
                            onblur="keepuiopen = 0; dontchangeurl = 0; inputlostfocus = 1; hideui()">
                    </form>
                </div>

                <div class="align-right">
                    <button class="navbtn" onclick="location.replace('/dashboard')">
                        <i class="fa-solid fa-home"></i>
                    </button>
                    <button class="navbtn" onclick="toggleui()">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                    <button class="navbtn" onclick="aboutBlank()">
                        <i class="fa-solid fa-masks-theater"></i>
                    </button>
                    <button class="navbtn" onclick="fullscreen()">
                        <i class="fa-solid fa-expand"></i>
                    </button>
                    <button class="navbtn" onclick="togglesettings()">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </div>
            </div>
    </center>
    <button class="toggleuibtn" onclick="toggleui()">
        <p style="margin-top: -10px;"><i class="fa-solid fa-x"></i></p>
    </button>
    <div class="menu">
        <h1 style="margin-top: -1px;">Settings Panel</h1>
        <p style="margin-top: -7px; text-align: start;">A Settings Menu that can be used for your customization.</p>
        <center class="container">
            <div>
                <!--<button onclick="toggleClock()">Toggle Clock</button>-->
                <button id="navbarbtn" onclick="
                if (localStorage.getItem('autohideui') == 0) {
                    localStorage.setItem('autohideui', 1);
                    alert('Reloading the page for changes to take effect..')
                location.reload();
                } else if (localStorage.getItem('autohideui') == 1) {
                    localStorage.setItem('autohideui', 0);
                    alert('Reloading the page for changes to take effect..');
                location.reload();
                }
                ">Auto-hide Navbar</button>

                <button id="copy" onclick="    
                let temp = document.createElement('input');
                temp.value = document.getElementById('result').contentWindow.location.href;
                document.body.appendChild(temp);
                temp.select();
                temp.setSelectionRange(0, 99999);
                document.execCommand('copy');
                document.body.removeChild(temp);
                getElementById('copy').innerHTML = 'Copied!';
                delay(2000).then(() => {
                    getElementById('copy').innerHTML = 'Copy Encoded URL';
                });
                doc">Copy Encoded URL</button>
                <button onclick="bookmarklet();">Execute JS code</button>
                <button onclick="
                document.querySelector('.main').style.display = 'none';
                document.querySelector('.menu').style.display = 'none';
                document.querySelector('.clockdisplay').style.display = 'none';
                document.getElementById('result').style.top = 0;
                document.getElementById('result').style.height = 'calc(100vh)';
                ">Destroy UI</button>
            </div>
            <h2>== Other stuff ==</h2>
            <button onclick="window.open('https://discord.com/invite/rqBgxP9Gnj').focus();">Join Discord Server</button>
            <button onclick="alert('Please email us your bug to kittycatclub@yappers.lol')">Report
                a bug</button>
        </center>
        <br />
    </div>
    <center>
        <div class="clockdisplay">
            <p id="clock">12:00:00 A.M.</p>
        </div>
    </center>
    </div>
</body>
<script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
        location.href = "/";
    }
</script>
<script src="./js/learninginit.js"></script>
<script src="./js/clock.js"></script>
<script src="./uv/uv.bundle.js"></script>
<script src="./uv/uv.config.js"></script>
<script src="./js/learning.js"></script>
<script>
    let savedTitle = localStorage.getItem("tabName");
    let savedBG = localStorage.getItem("BG");
    let savedFavicon = localStorage.getItem("favicon");
    let favicon = document.getElementById("icon");
    if (savedTitle) {
        document.title = savedTitle;
    }
    if (savedFavicon) {
        favicon.href = savedFavicon;
    }

    if (savedBG) {
        document.body.style.backgroundImage = `url("${savedBG}")`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundSize = "cover";
        document.body.style.backgroundAttachment = "fixed";
        document.body.style.backgroundSize = "100% 100%";
    }
    if (localStorage.getItem("advCloak") == 1) {
        if (window === window.top) {
            let popup = window.open('about:blank', '_blank');
            let doc = popup.document;
            let aboutiframe = doc.createElement('iframe');
            let faviconabout = doc.createElement('link');
            doc.title = name;
            faviconabout.rel = 'icon';
            faviconabout.href = icon;
            aboutiframe.src = location.href;
            aboutiframe.style.position = 'fixed';
            aboutiframe.style.top = 0;
            aboutiframe.style.bottom = 0;
            aboutiframe.style.left = 0;
            aboutiframe.style.right = 0;
            aboutiframe.style.border = 'none';
            aboutiframe.style.width = "100%";
            aboutiframe.style.height = '100%';
            doc.head.appendChild(faviconabout);
            doc.body.appendChild(aboutiframe);
            location.replace('https://classroom.google.com/');
        }
    }

    window.onbeforeunload = () => {
        if (tabclosingval == "true") {
            return "Do you want to leave the current tab?";
        }
    }
</script>
<script type='text/javascript' src='//pl23175343.highcpmgate.com/e9/01/cd/e901cd26b0443efd971a8b3573216264.js'></script>

</html>