<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="./css/all.css">

    <style>
        .panel {
            background-color: #151515;
            width: auto;
            padding: 20px;
            height: auto;
            border: 2px solid #101010;
            border-radius: 20px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .card {
            display: flex;
            justify-content: center;
        }
        button {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div>
        <div class="panel">
            <button style="float: right; font-size: 17px; margin-top: -10px; margin-right: -10px;">Exit menu</button>
            <h1 style="margin-top: -1px;">Proxy Settings</h1>
            <p style="margin-top: -7px; font-size: 18px;">A Settings Menu that can be used for your customization.</p>
            <br />
            <div class="card">
                <center>
                    <button>Automatically hide navbar</button>
                    <button>Enable/disable Devtools</button>
                    <button>Show encoded URL</button><br/><br/>
                    <p>Background changer</p>
                    <input placeholder="Add background URL...">
                    <button style="padding: 9px;">Save background</button>
                </center>
                <br />
            </div>
        </div>
    </div>
</body>

</html>